
/*--
  Common Css
--*/
#searchForm {
  margin-right:5px;
  position:absolute;
  left:350px;
  bottom:1px;
  z-index:2;
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #FCFCFC;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 7px 10px 7px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
#SearchBar {
  border: none;
  font-size: 18px;
  width: 75%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-color: #FCFCFC;
}

#SearchBar1 {
  border: none;
  font-size: 18px;
  width: 90%;
  background-color: #E6E6FA;
}
#searchForm1{
  margin-left:5px;
  display:block;
  padding:5px;
  border-radius:2px;
  border-bottom: 2px solid #7C7A86;
  background-color: #E6E6FA;
}
#searchLink{
  padding-left:0px!important;
}
#searchLink:hover{
  cursor:pointer;
}

header.large{ height: 100px;
 }
header.large #navh{ width: 300px; height: 40px;
 }
header.large img{ width: 300px; height: 100px;  }
header.small img{ width: 150px; height: 50px; }
#navh{
  display: none;
}
#navh2{
  display: none;
}
#navh1{
  display: none;
}
#navh3{
  display: none;
}
#navh2{
  transition: all 0.3s;
   -ms-transition: all 0.3s;
      -moz-transition: all 0.3s; /* Firefox 4 */
      -webkit-transition: all 0.3s; /* Safari and Chrome */
      -o-transition: all 0.3s; /* Opera */
}
#navh{
  transition: all 0.3s;
   -ms-transition: all 0.3s;
      -moz-transition: all 0.3s; /* Firefox 4 */
      -webkit-transition: all 0.3s; /* Safari and Chrome */
      -o-transition: all 0.3s; /* Opera */
}
header li{
  transition: all 0.3s;
   -ms-transition: all 0.3s;
      -moz-transition: all 0.3s; /* Firefox 4 */
      -webkit-transition: all 0.3s; /* Safari and Chrome */
      -o-transition: all 0.3s; /* Opera */
}

header.large li{ margin-top: 35px; }
header.large li.dropdown li{margin-top: 0px;}
header.small{ height:40px; }

header.small #navh{ width: 150px; height: 5px;  }
body {
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f8f8ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
.section-title p {
  font-family: 'Varela Round', sans-serif;
  font-style: italic;
  color: #666;
}
/*--
  Header Start
--*/
header {
  background: #fff;
  padding: 20px 0;
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
}
header .navbar-brand {
  padding-top: 0px;
}
header .navbar-default {
  background: white;
  border: 0px;
}
#firstHeader.small .navbar-default {
     -moz-box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
     -webkit-box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
     box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);   
}
header .navbar-default .navbar-nav {
  padding-top: 0px;
}
header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 10px 26px;
  font-size: 15px;
}
font header .navbar-default .navbar-nav li a:hover {
  color: #000;

}
.center {
  text-align: center !important;
}
/*--
  Slider Start
--*/
#slider {
  background: url("../assets/bg6.jpg") no-repeat;
  background-size: cover;
  background-attachment: initial;
  background-position: 10% 0%;
  padding: 130px 0 130px 0;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}
#slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background:#5d5a68;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
#slider .block {
  color: #E3E3E4;
}
#slider .block h1 {
  font-family: 'Varela Round', sans-serif;
  font-weight: 100;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 10px;
  padding-bottom: 45px;
}
#slider .block p {
  font-size: 23px;
  line-height: 40px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}
/*--
  wrapper Start
--*/
#intro {
  padding: 50px 0;
}
#intro .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#intro .block p {
  color: #7B7B7B;
  padding-top: 20px;
}
#intro .block iframe {
    width: 100%; /*the image width*/
        height: 350px;
        margin-top: 33px; /*the image height*/
}
#intro .block video {
    width: 100%; /*the image width*/
        height: 350px;
        margin-top: 33px; /*the image height*/
}

#intro .section-title {
  margin-bottom: 0px;
}
#intro .section-title p {
  padding-top: 20px;
}
/*--
  service Start
--*/
#service {
  text-align: center;
  padding: 90px 0;
}
#service .service-item {
  padding-bottom: 30px;
}
#service .service-item i {
  font-size: 60px;
  color: #4A4656;
}
#service .service-item h4 {
  padding-top: 20px;
  margin: 0;
  color: #666;
}
#service .service-item p {
  color: #888;
  padding-top: 10px;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
}
/*--
  call-to-action Start
--*/
#call-to-action {
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 0px;
  position: relative;
  text-align: center;
  color: #fff;
 -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#call-to-action:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #474354;
}
#call-to-action h2 {
  padding-bottom: 20px;
  line-height: 33px;
  margin: 0;
  font-size: 30px;
}
#call-to-action p {
  font-size: 14px;
  line-height: 1.6;
}
#call-to-action .btn-call-to-action {
  padding: 15px 35px;
  border: none;
  background-color: #fff;
  font-size: 15px;
  color: #333333;
  margin-top: 30px;
}
#mc-embedded-subscribe{ width: 58% !important;}
.btn{border:0px solid transparent !important; /* this was 1px earlier */}
/*--
  Feature Start
--*/
#feature {
  background: url("../img/a.png");
  background-position: 50% 94px;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 100px 0;
}
#feature h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
#feature p {
  color: #8d8f92;
  margin-bottom: 20px;
}
#feature .btn-view-works {
  background: #655E7A;
  color: #fff;
  padding: 10px 20px;
}
/*--
  content Start
--*/
#testimonial {
  padding: 100px 0;
}
 #testimonial .span1 {
  width: 120px;
  height: 120px;
}
#h2ele {
  line-height: 27px;
  color: #5C5C5C;
  padding-top: 110px;
}
#testimonial .block h2 {
  line-height: 27px;
  color: #5C5C5C;
  padding-top: 110px;
}
#testimonial .block p {
  padding-top: 50px;
  color: #7B7B7B;
}
#testimonial .counter-box li {
  width: 50%;
  float: left;
  text-align: center;
  margin: 17px 0 30px;
}
#testimonial .counter-box li i {
  font-size: 35px;
}
#testimonial .counter-box li h4 {
  font-size: 30px;
  font-weight: bold;
}
#testimonial .counter-box li span {
  color: #555;
}
#testimonial .testimonial-carousel {
  text-align: center;
  width: 75%;
  /*border: 1px solid #DEDEDE;*/
  border: 1px solid #000000;
  padding: 24px;
  margin: 0 auto;
}
#testimonial .testimonial-carousel img {
  padding-bottom: 38px;
}
#testimonial .testimonial-carousel p {
  line-height: 28px;
  font-weight: 300;
  padding-bottom: 20px;
}
#testimonial .testimonial-carousel .user img {
  padding-bottom: 0px;
  border-radius: 500px;
}
#testimonial .testimonial-carousel .user p {
  padding-bottom: 0;
  font-size: 13px;
  line-height: 20px;
  color: #353241;
}
#testimonial .testimonial-carousel .user p span {
  display: block;
  color: #353241;
  font-weight: 600;
}
.owl-carousel .owl-pagination div {
  border: 1px solid #1D1D1D;
  border-radius: 500px;
  display: inline-block;
  height: 10px;
  margin-right: 15px;
  width: 10px;
}
.owl-carousel .owl-pagination div.active {
  background: #5C5C5C;
  font-size: 32px;
  display: inline-block;
  border: 0px;
}

/*--
  features Start
--*/
#social-media-logos-section {
  padding-top: 30px;
  padding-bottom: 75px;
}
#social-media-logos-section .social-media-logos-img {
  padding: 0px 50px;
}

/*--
  Slider-work Start
--*/
#global-header {
  background: url("../img/slider-bg.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
  background-attachment: fixed;
}
#global-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #928dab, #1f1c2c 70%);
  opacity: 0.8;
}
#global-header .block {
  color: #E3E3E4;
  margin: 0 auto;
  padding-left: 90px;
  text-align: center;
}
#global-header .block h1 {
  font-weight: 100;
  font-size: 45px;
  letter-spacing: 6px;
  padding-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}
#global-header .block p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}
/*--
  portfolio-work Start
--*/
#portfolio-work {
  overflow: hidden;
  padding: 80px 0;
}
#portfolio-work .block .portfolio-menu {
  padding-bottom: 30px;
  text-align: center;
}
#portfolio-work .block .portfolio-menu ul {
  border: 1px solid #999999;
  display: inline-block;
  margin-bottom: 40px;
}
#portfolio-work .block .portfolio-menu ul li {
  display: inline-block;
  padding: 0px 25px;
  cursor: pointer;
  font-size: 15px;
  line-height: 40px;
  font-weight: 600;
  color: #333333;
  text-transform: capitalize;
  position: relative;
}
#portfolio-work .block .portfolio-menu ul .active {
  color: #655E7A;
  position: relative;
}
#portfolio-work .block .portfolio-menu ul .active:before {
  content: "\f0d7";
  position: absolute;
  font-family: 'FontAwesome';
  bottom: -18px;
  font-size: 30px;
  width: 20px;
  left: 0px;
  right: 0px;
  top: 23px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portfolio-work .block .portfolio-menu ul li:hover:before {
  content: "\f0d7";
  position: absolute;
  font-family: 'FontAwesome';
  bottom: -18px;
  font-size: 30px;
  width: 20px;
  left: 0px;
  right: 0px;
  top: 24px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portfolio-work .block .portfolio-contant ul li {
  float: left;
  width: 32.22%;
  overflow: hidden;
  margin: 6px;
  position: relative;
}
#portfolio-work .block .portfolio-contant ul li:hover .overly {
  opacity: 1;
}
#portfolio-work .block .portfolio-contant ul li:hover .position-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
#portfolio-work .block .portfolio-contant ul li a {
  display: block;
  color: #fff;
}
#portfolio-work .block .portfolio-contant ul li a h2 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#portfolio-work .block .portfolio-contant ul li a p {
  font-size: 15px;
}
#portfolio-work .block .portfolio-contant ul li a span {
  font-style: italic;
  font-size: 13px;
  color: #655E7A;
}
#portfolio-work .block .portfolio-contant ul img {
  width: 100%;
  height: auto;
}
#portfolio-work .block .portfolio-contant .overly {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  text-align: center;
}
#portfolio-work .block .portfolio-contant .position-center {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(0%, 50%);
  -moz-transform: translate(0%, 50%);
  -ms-transform: translate(0%, 50%);
  transform: translate(0%, 50%);
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
#portfolio-work .block .mix {
  display: none;
}
/*--
  wrapper-work Start
--*/
#wrapper-work {
  overflow: hidden;
  padding-top: 100px;
}
#wrapper-work ul li {
  width: 50%;
  float: left;
  position: relative;
}
#wrapper-work ul li img {
  width: 100%;
  height: 100%;
}
#wrapper-work ul li .items-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding-left: 44px;
  padding-top: 140px;
}
#wrapper-work ul li .items-text h2 {
  padding-bottom: 28px;
  padding-top: 75px;
  position: relative;
}
#wrapper-work ul li .items-text h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  height: 3px;
  background: #fff;
}
#wrapper-work ul li .items-text p {
  padding-top: 30px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  padding-right: 80px;
}
/*--
  features-work Start
--*/
#features-work {
  padding-top: 50px;
  padding-bottom: 75px;
}
#features-work .block ul li {
  width: 19%;
  text-align: center;
  display: inline-block;
  padding: 40px 0px;
}

/*--
  slider-contact Start
--*/
#slider-contact {
  background: url("../img/slider-bg.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
}
#slider-contact:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #928dab, #1f1c2c 70%);
  opacity: 0.8;
}
#slider-contact .block {
  color: #E3E3E4;
  margin: 0 auto;
  padding-left: 90px;
}
#slider-contact .block h1 {
  font-family: 'Varela Round', sans-serif;
  font-weight: 100;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 6px;
  padding-bottom: 15px;
}
#slider-contact .block p {
  font-size: 23px;
  line-height: 40px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}
/*--
  contact-form Start
--*/
#contact-form {
  padding-top: 70px;
  padding-bottom: 35px;
}
#contact-form .block form .form-group {
  padding-bottom: 15px;
  margin: 0px;
}
#contact-form .block form .form-group .form-control {
  background: #F6F8FA;
  height: 60px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
#contact-form .block form .form-group-2 {
  padding-bottom: 15px;
  margin: 0px;
}
#contact-form .block form .form-group-2 textarea {
  background: #F6F8FA;
  height: 135px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
#contact-form .block button {
  width: 100%;
  height: 60px;
  background: #47424C;
  border: none;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}
/*--
  wrapper-contact Start
--*/
.address-block li {
  margin-bottom: 20px;
}
.address-block li i {
  margin-right: 15px;
  font-size: 20px;
  width: 20px;
}
.social-icons {
  margin-top: 40px;
}
.social-icons li {
  display: inline-block;
  margin: 0 6px;
}
.social-icons a {
  display: inline-block;
}
.social-icons i {
  color: #2C2C2C;
  margin-right: 25px;
  font-size: 25px;
}
.google-map {
  position: relative;
}
.google-map #map {
  width: 100%;
  height: 300px;
  background-color: #ff432e;
}
#contact-box {
  padding-top: 35px;
  padding-bottom: 58px;
}
#contact-box .block img {
  width: 100%;
}
#contact-box .block h2 {
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 28px;
  padding-bottom: 30px;
}
#contact-box .block p {
  color: #5C5C5C;
  display: block;
}
/*--
  features-contact Start
--*/
#features-contact {
  padding-top: 50px;
  padding-bottom: 75px;
}
#features-contact .block ul li {
  width: 19%;
  text-align: center;
  display: inline-block;
  padding: 40px 0px;
}

/*--------- Heading------------*/
.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}
/*---------------------------*/
/*--
  footer Start
--*/
footer {
  background: #F5F5F5;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}
footer a {
  color: #ffffff;
}
footer ul li{
  font-size: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer ul li{
  font-size: 100px;
}
footer p{
  font-size: 80px;
}
  }
footer .footer-manu {
  padding-bottom: 25px;
}
footer .footer-manu ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 20px;
}
footer .footer-manu ul li a {
  display: inline-block;
  color: #494949;
}
footer .footer-manu ul li a:hover {
  color: #000;
}

.widget h4 {
 padding-bottom:5px;
}

@media only screen and (max-width: 991px) {
     .widget_content{
        display:none;
    }
    .active .widget_content{
      display:inline;
    }
    .widget h4 {
    }
    .widget h4:after {
        color:white;
        width:20px;
        height:20px;
        background:#999;
        display:inline-block;
        text-align:center;
    }
    .active.widget h4:after {
        background:#ccc;
    }
    .ssk-group{
      position: absolute;
    }
}
#own-ssk{
  margin-left: 5px;
}
.listFont{
  font-size: 16px;
}


/*---------------------------------------------------------------------------*/
.fold_1{
  margin:15 0 0 60;
}
.italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #655E7A;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}
#myBtn2 {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #655E7A;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 12px;
}
.ifr{
  border: 0;
  width: 100%;
  height: 100%;
}
#myBtn2:hover {
  background-color: #555;
}
#call-to-action .border-box {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
}
#intro .border-box {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
}
.panel{
    margin-bottom: 0px;
}
.panel-default > .panel-heading {
  background-color: #ffffff;
  border-color: #ffffff;
}

.icon_minim{
    padding:2px 5px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  position: relative;
  bottom: 0;
  overflow: hidden;
}
.msg_container {
    padding: 0px;
    overflow: hidden;
    display: flex;
}
.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 2px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

.container-popup {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  z-index: -1;
  display: none;
}
.popup {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  display: none;

}

#close {
  float: right;
  padding: 3px 6px;
  background-color: #655E7A;
  font-size: 15px;
  cursor: pointer;
}

.dropdown-menu {
    overflow: auto;
    max-height: 100vh;
}

.test{
  padding-top:20px !important;
  padding-bottom:20px !important;
}
.customPadding1{
   padding-left:120px;
}
.cta{
  padding-top:30px;padding-bottom:10px;
}
.intro_img{
  padding-top:0px !important;
  padding-bottom:110px !important;
}
.anchor1{
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -100px; /*same height as header*/
  visibility: hidden;
}
.anchor2{
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -100px; /*same height as header*/
  visibility: hidden;
}

/*-----------------------------------------------------------------------------------------------*/
/*    Default Layout: 992px.
    Gutters: 24px.
    Outer margins: 48px.
    Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
/*    Tablet Layout: 768px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*---------------------------------------------
          Index Start
-----------------------------------------------*/
  /*--
  wrapper Start
--*/
.fold_1{
  margin:0 0 0 0;
}
.cta{
  padding-top:40px;padding-bottom:0px;
}
.customPadding1{
  padding-left: 10px;
}
.intro_img{
  padding-top:0px !important;
  padding-bottom:130px !important;
}
#exTab3{
  visibility: hidden;
}
#myBtn2 {
  display: block;
}
#ftctn{
  display: none;
}
  #wrapper {
    text-align: center;
  }
  #wrapper .block img {
    padding-top: 100px;
    width: 50%;
  }

  /*--
  content Start
--*/
  #content {
    text-align: center;
  }
  #content .block {
    padding-bottom: 100px;
  }
  /*--
  features Start
--*/
  #features {
    text-align: center;
  }
  /*--
  footer Start
--*/
  footer .navbar {
    margin-bottom: 0px;
    border: 0px;
    min-height: 40px;
  }
  footer .navbar-default {
    border: 0px;
    width: 68%;
  }
  footer .navbar-default .navbar-nav li a {
    color: #494949;
    padding: 10px 10px;
    font-size: 100px;
  }
  footer .navbar-default .navbar-nav li a:hover {
    color: #000;
  }

#intro .block img {
    width: 200px; /*the image width*/
        height: 350px;
        margin-top: 33px; /*the image height*/
}



  /*--
  slider-work Start
--*/
  #slider-work .block h1 {
    font-size: 28px;
  }
  #slider-work .block p {
    font-size: 15px;
  }
  /*--
  portfolio Start
--*/
  #portfolio-work .block .portfolio-manu {
    padding-left: 0px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading {
    padding: 5px 0 5px 13px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading h2 {
    font-size: 20px;
    line-height: 25px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading p {
    font-size: 11px;
    line-height: 20px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay {
    padding-left: 15px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay h2 {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay p {
    font-size: 11px;
    line-height: 20px;
    padding-top: 15px;
  }
  /*--
  wrapper Start
--*/
  #wrapper-work ul li .items-text {
    padding-top: 0;
    padding-left: 25px;
  }
  #wrapper-work ul li .items-text h2 {
    padding-bottom: 10px;
    padding-top: 40px;
  }
  #wrapper-work ul li .items-text p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 30px;
  }
  /*--
  features Start
--*/
  #features-work .block ul li {
    width: 49%;
  }

#mobile-ssk{
  display: none !important;
}



  #wrapper-contact .block {
    padding-bottom: 50px;
  }
  /*--
  features-contact Start
--*/
  #features-contact .block ul li {
    width: 49%;
  }

#mobile-ssk{
  display: none !important;
}
/*Header*/
 header {
    background-color: #1d192c;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  header .navbar-default{
    background-color: #332f41;
  }

   header.large{
    height: 23px;
  }
  header.large #navh{
    width: 210px;
    height: 21px;

  }
  header.small{
    height: 23px;
  }
  header.small #navh{ width: 120px; height: 7px; margin-top: 14px; }
.divider{
  display: none;
}
.dropdown-header{
    display: none;

}


  header .navbar-default .navbar-toggle {
    margin-top: 20px;
  }
header .navbar-default .navbar-nav li a {
  color: #ffffff;
}
header .navbar-default .navbar-nav li a:hover {
  color: #ffffff;
}
header .navbar-default .navbar-nav li ul li a{
  color: #ffffff;
}
header.large li{ margin-top: 0px; }
#testimonial .counter-box li h4 {
  font-size: 18px;
  font-weight: bold;
}
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }


/*Header close*/
  /*------------------*/
}
/*    Mobile Layout: 320px.
    Gutters: 24px.
    Outer margins: 34px.
    Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  /*---------------------------------------------
          Index Start
-----------------------------------------------*/
  .heading {
    padding-left: 0px;
  }
  .customPadding1{
  padding-left: 10px;
}
.cta{
  padding-top:80px !important;
  padding-bottom:0px !important;
  margin-bottom: 0px !important;
}
.test{
  padding-top:20px !important;
  padding-bottom:5px !important;
  margin-top:0 !important;
}
.intro_img{
  padding-top:0px !important;
  padding-bottom:130px !important;
}
.img_slider {
  padding-bottom: 40px!important;
}
.sugar_in_browser_try_now {
  padding-bottom: 70px!important;
}
#exTab3{
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
  display: none;
}
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }


  header {
    background-color: #1d192c;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  header .navbar-default{
    background-color: #332f41;
  }

   header.large{
    height: 23px;
  }
  header.large #navh{
    width: 210px;
    height: 21px;

  }
  header.small{
    height: 23px;
  }
  header.small #navh{ width: 120px; height: 7px; margin-top: 14px; }
.divider{
  display: none;
}
.dropdown-header{
    display: none;

}


  header .navbar-default .navbar-toggle {
    margin-top: 20px;
  }
header .navbar-default .navbar-nav li a {
  color: #ffffff;
}
header .navbar-default .navbar-nav li a:hover {
  color: #ffffff;
}
header .navbar-default .navbar-nav li ul li a{
  color: #ffffff;
}
#mobile-ssk{
  display: none !important;
}
#myBtn2 {
  display: block;
  bottom: 13px;
  right: 15px;
  padding: 11px;
}
#ftctn{
  display: none;
}
header.large li{ margin-top: 0px; }
#testimonial .counter-box li h4 {
  font-size: 18px;
  font-weight: bold;
}
.listFont{
  font-size: 14px;
}
#call-to-action p {
  font-size: 12px;
  line-height: 1.6;
}
  #slider {

    background-position: center center;
  }
  #slider .block {
    padding-left: 0px;
  }
  #slider .block h1 {
    font-size: 20px;
    font-weight: bold;
  }
  #slider .block p {
    font-size: 13px;
  }
  /*--
  wrapper Start
--*/
  #wrapper {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  #wrapper .block img {
    padding-top: 100px;
    padding-left: 0px;
    width: 100%;
  }

  /*--
  service Start
--*/
  #service {
    padding-top: 100px;
  }
  #service .thumbnail {
    padding-bottom: 70px;
  }
  /*--
  call-to-action Start
--*/
  #call-to-action p {
    padding: 0px 0px 40px;
  }
  #call-to-action .btn {
    padding: 10px 20px;
    font-size: 15px;
  }
  /*--
  content Start
--*/
  #content {
    text-align: center;
    padding-top: 70px;
  }
  #content .block {
    padding-bottom: 100px;
  }
  #content .block h2 {
    padding-top: 0px;
  }
  #content .block-bottom {
    padding: 0px;
  }
  #content .block-bottom .item-img {
    padding-left: 0px;
  }
  /*--
  features Start
--*/
  #features .features-img {
    text-align: center;
  }
  /*---------------------------------------------
          Index Close
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
          Work Start
-----------------------------------------------*/
  #slider-work {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #slider-work .block {
    padding-left: 0px;
  }
  #slider-work .block h1 {
    font-size: 20px;
  }
  #slider-work .block p {
    font-size: 11px;
    line-height: 25px;
  }
  /*--
  portfolio Start
--*/
  #portfolio-work .block .portfolio-manu {
    padding-left: 0px;
    text-align: center;
  }
  #portfolio-work .block .portfolio-manu ul li {
    padding: 0 8px;
  }
  #portfolio-work .block .portfolio-contant ul li {
    width: 100%;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading {
    padding: 5px 0 5px 13px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading h2 {
    font-size: 20px;
    line-height: 25px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading p {
    font-size: 11px;
    line-height: 20px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay {
    padding-left: 15px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay h2 {
    padding-top: 65px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay p {
    font-size: 11px;
    line-height: 20px;
    padding-top: 15px;
    padding-right: 5px;
  }
  /*--
  wrapper Start
--*/
  #wrapper-work ul li {
    float: none;
    width: 100%;
  }
  #wrapper-work ul li .items-text {
    padding-left: 15px;
    padding-top: 30px;
  }
  #wrapper-work ul li .items-text h2 {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
  }
  #wrapper-work ul li .items-text p {
    font-size: 11px;
    line-height: 20px;
    padding-top: 15px;
  }
  /*--
  features Start
--*/
  #features-work .block ul li {
    display: block;
    width: 100%;
  }

  /*--
  slider-contact Start
--*/
  #slider-contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #slider-contact .block {
    padding-left: 0px;
  }
  #slider-contact .block h1 {
    font-size: 20px;
  }
  #slider-contact .block p {
    font-size: 11px;
    line-height: 25px;
  }
  /*--
  wrapper-contact Start
--*/
  #wrapper-contact .block {
    padding-bottom: 50px;
  }
  #wrapper-contact .block .location p {
    width: 100%;
  }
  #wrapper-contact .block .social-media-icon a i {
    padding-top: 30px;
  }
  /*--
  features-contact Start
--*/
  #features-contact .block ul li {
    display: block;
    width: 100%;
  }
  /*---------------------------------------------
          contact close
-----------------------------------------------*/
  /*--
  footer Start
--*/
  footer .footer-manu {
    display: none;
  }
}

/*    Wide Mobile Layout: 480px.
    Gutters: 24px.
    Outer margins: 22px.
    Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
/*  Retina media query.
  Overrides styles for devices with a
  device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

/*--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #655E7A;
  border: 0;
}

.modal-title {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  line-height: 30px;
}

.modal-body {
  position: absolute;
  top: 40px;
  bottom: 10px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #f1f3f5;
}

.popover-title {
    color: #000000;
}
.popover-content {
    color: #0099FF;
}
.tooltip {
    position: fixed;
}
/*------------------------------------------------------------------*/
#imgrflt {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}

.loader {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;

  background-color: #332F41;


}



* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* The loader container */
.loader1 {
  position: absolute;
  top: 58%;
  left: 50%;

  width: 200px;
  height: 200px;

  margin-top: -100px;
  margin-left: -100px;
}


#exTab3 .nav-pills > li > a {
  border-radius: 30px 30px 30px 30px ;
 border: 1px solid #474354;
 -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#exTab3{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right:0;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #595565;
   -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav-pills>li >a, .nav-pills>li >a:hover, .nav-pills>li >a:focus{
  color : white !important;

  background-color: #595565;
}
hr {
  border: 0;
  height: 1px;
  background:#000000;
}


.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;

  padding-top: 10px;

  position: absolute;

  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot1 {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active1 {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

#mc_embed_signup{background:#282828; clear:left; font:14px; }

#custom_table table {
  background: #1d192c;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
#custom_table th {
  border-bottom: 2px solid #364043;
  color: #E2B842;
  font-size: 0.99em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
#custom_table td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
#custom_table td ul{
  padding: 0em 2em;
}
#custom_table .disabled td {
  color: #4F5F64;
}
#custom_table tbody tr {
  transition: background 0.25s ease;
}
#custom_table tbody tr:hover {
  background: #595565;
}


.bt {
  font-family: 'Varela Round', sans-serif;
    /*font-size: 16px;*/
    padding: 10px 20px;
    /*font-weight: 400;
    text-transform: uppercase;*/
    /*letter-spacing: inherit;*/
    color: rgba(255, 255, 255, 0.87);
    outline: 0;
    outline-offset: 0;
    border: 0;
    border-radius: 2px;
    -o-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn.active:focus {
    outline: 0;
    outline-offset: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-custom,
.btn-link {
    background-color: #655E7A;
    color: #ffffff;
}

.btn-custom:hover,
.btn-link:hover,
.btn-custom:focus,
.btn-link:focus {
    background-color: #655E7A;
    color: #ffffff;
    opacity: 0.7;
}


.bt-raised {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.bt-raised:active,
.bt-raised.active,
.bt-raised:active:focus,
.bt-raised.active:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bt-raised:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media only screen and (max-width: 507px) {
  #longCommand{
    white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap; /* HP printers */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-word; /* IE */
word-break: break-all;
  }
  }


.loader2 {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one.start {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #ffffff;
}

.inner.two.start {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #ffffff;
}

.inner.three.start {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #ffffff;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}


.loader3{
 left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 45%;
    width: 100%;


}
h1:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #fff;
    animation: loading 8s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }

}


.customHeaderStyle{
  font-size: 26px;
}

.boxDownload{
  height: 526px;
}

@media only screen and (max-width: 991px) {
.boxDownload{
  height: auto;
}
  }


@media only screen and (max-width: 1200px) {

.customHeaderStyle{
  font-size: 23px;
}
  }
@media only screen and (max-width: 1260px) {
#mobile-ssk{
  display: none !important;
}

  }

.section-title1 {
  text-align: center;
  overflow: hidden;
  margin-bottom: 1.3em;
  margin-top:30px;margin-bottom:0px;
}

.tag {
  text-transform: uppercase;
  position: relative;
  line-height: 1.2em;
  padding: 0 1em;
  display: inline-block;
}

.tag-regular {
  background-color: #fff;
  padding-top: 2.7px;
  border: 1px solid #ddd;
  color: #000000;
  font-size:30px;
}

.tag-colored {
  background-color: skyblue;
  color: #fff;
}

.tag:before,
.tag:after {
  content: "";
  height: 1px;
  /* any width higher than the widest part of the page */
  width: 1000px;
  position: absolute;
  top: 50%;
  display: block;
}

.tag-regular:before,
.tag-regular:after {
  background-color: #ddd;
}

.tag-colored:before,
.tag-colored:after {
  background-color: skyblue;
}

.tag:before{
  left: -1000px;
}
.tag:after{
  right: -1000px;
}


#secondHeader #sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 1040;
    background: #655E7A;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#secondHeader #sidebar.active {
    left: 0;
}

#secondHeader #dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #332F41;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#secondHeader #dismiss:hover {
    background: #fff;
    color: #7386D5;
}

#secondHeader .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1039;
    display: none;
}

#secondHeader #sidebar .sidebar-header {
    padding: 20px;
    background: #655E7A;
}

#secondHeader #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#secondHeader #sidebar ul p {
    color: #fff;
    padding: 10px;
}

#secondHeader #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#secondHeader #sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#secondHeader #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #332F41;
}


#secondHeader a[data-toggle="collapse"] {
    position: relative;
}

@media only screen and (max-width: 1260px) and (min-width: 768px) {
  #secondHeader a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
      content: '\25BC';
      display: block;
      position: absolute;
      right: 20px;
      font-family: 'Varela Round';
      font-size: 0.6em;
  }
  #secondHeader a[aria-expanded="true"]::before {
      content: '\25B2';
  }
}

#secondHeader ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #332F41;
}

#secondHeader ul.CTAs {
    padding: 20px;
}

#secondHeader ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
#secondHeader a.download {
    background: #fff;
    color: #7386D5;
}
#secondHeader a.article, #secondHeader a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#secondHeader #content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#secondHeader{
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1260px) {
  #firstHeader{
    display: none;
  }
  #secondHeader{
    display: block;
  }
  }

@media only screen and (max-width: 811px) {
  #loaderDiv h1{
  font-size: 20px;
}
  }
.form-control {width:120px;}
.popover {max-width:400px;}

#google-custom-search {
  margin-top: 50px;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button,
.gsc-selected-option-container {
  box-sizing: content-box;
  line-height: normal;
}
.searchBoxStyle{
  margin-bottom:50px;padding-left:50px;padding-right:50px;
}
@media only screen and (max-width: 767px) {
  #searchForm {
    margin: 20px;
    position: relative;
    left: 0px !important;
    width: 280px;
}
  #SearchBar {
    width: 85%;
}
  .searchBoxStyle{
  margin-bottom:20px;padding-left:5px;padding-right:5px;
}
  }
    @media only screen and (max-width: 1260px) {
  .section-title1 {
  text-align: center;
  overflow: hidden;
  margin-bottom: 1.3em;
  padding-top:80px;margin-bottom:0px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1260px) {
.cta{
  margin-top:80px;padding-bottom:10px;
}
  }
#contributeHeader{
  text-align: center;
}
@media only screen and (max-width: 991px) {
  #contributeHeader{
  text-align: left;
}
}
.hrefCustomColor{
  color: #0099FF;
}
.hrefCustomColor:hover {
  color: #d465d6;
}
.hrefCustomColor2{
  color: #1d192c;
}
.customSpanColor{
  color: #ffffff;
}
.customColor{
  color: #000000 !important;
}
.listDiscStyle{
  list-style-type:disc;
}
.customFontSize{
  font-size:15px !important;
}
.customBox{
  border: 1px solid #000000 !important;
  text-align: left !important;
}
.customParagraphStyle{
  color:#000000 !important;
  font-style: normal !important;
}
.customParagraphStyle2{
  margin-left:40px;
  margin-top:25px;
  margin-bottom:20px;
  color: black;
  font-size:15px;
  text-align:justify;
}
.customParagraphStyle3{
  color:#ffffff;
  font-style: normal;
  text-align: left;
}
.customImageStyle{
  height:100%;
  width:100%;
}
.customLogoImageStyle{
  height:100px;
  width:100px;
}
.leftAlign{
  text-align: left;
}
.boxDownload2{
  height: 670px;
}
.boxDownload3{
  height: auto;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .boxDownload2{
    height: 855px;
  }
}
@media only screen and (max-width: 991px) {
  .boxDownload2{
    height: auto;
  }
  .align-center-md {
    display: flex !important;
    justify-content: center;
  }
  .align-center-col-md {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .text-center-md {
    text-align: center !important;
  }
  .footer-email-input-md {
    width: 35% !important;
    margin-right: 0px !important;
  }
}

.leftAlign{
  text-align: left;
}
.customFontSize2{
  font-size: 14px;
}
.justifyAlign{
  text-align: justify;
}
.dropdown-menu li a{
  color: #0099ff !important;
}
.customFontSize3{
  font-size: 20px;
}
.customSpanColor2{
  color: #ffffff;
}
.borderNone{
  border: none !important;
}
.lastButtonMargin{
  margin-bottom:3px;
}
.zeroMarPadBtm{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.customMargin1{
  margin-bottom:30px !important;
}
.customPadding1{
  padding-bottom:15px !important;
}
.customPadding2{
  padding-bottom:40px !important;
}
.customPadding3{
  padding-top:10px !important;
}
.customPadding4{
  padding-left:0px !important;
  padding-right:0px !important;
}
.customPadding5{
  padding-top:50px !important;
  padding-bottom:0px !important;
}
.customMargin2{
  margin-left:40px !important;
  margin-bottom:20px !important;
}
.customMargin3{
  margin-bottom:5px !important;
}
.customMargin4{
  margin-bottom:15px !important;
}
.customMargin5{
  margin-bottom:10px !important;
}
.customMargin6{
  margin-left:40px !important;
}
.customMargin7{
  margin-top:40px !important;
}
.customMarPadCombo1{
margin-bottom:0px !important;
margin-top:20px !important;
padding-bottom:0px !important;
padding-top:0px !important;
}
.customMarPadCombo2{
margin-bottom:0px !important;
margin-top:0px !important;
padding-bottom:0px !important;
padding-top:0px !important;
}
.customMarPadCombo3{
margin-bottom:10px !important;
padding-bottom:10px !important;
padding-top:50px !important;
}
.customMarPadCombo4{
padding-top:0px !important;
margin-top:0px !important;
margin-bottom:10px !important;
}
.customMarPadCombo5{
padding:0 0 0 0 !important;
margin:0 0 0 0 !important;
}
.fullWidth{
  width: 100% !important;
}
.footerListStyle{
  margin-bottom:5px;
  font-size:15px;
}
.footerHeaderStyle{
  margin-bottom:14px;
  color:#ffffff;
  margin-top:10px;
  text-align:left;
}
.customHeaderStyle2{
  padding-bottom: 50px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
  -moz-box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
  -webkit-box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
}
.customHeaderStyle3{
right:10px;
position:fixed;
font-size:30px;
}
.customSpanStyle{
  color:#ffffff;
  font-size:20px;
}
/* MailChimp Form Embed Code - Slim - 12/15/2015 v10.7 */
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 0}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #0099FF; border: 0 none; border-radius:4px; letter-spacing:.03em; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; display:block; padding:0 0.4em; margin:0 4% 10px 0; min-height:32px; width:58%; min-width:130px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#mc_embed_signup input.button {display:block; width:35%; margin:0 0 10px 0; min-width:90px;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
.try-mb {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF !important;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  font-size: 1.5em;
}
.try-mb:active {
  top:0.1em;
  color: #fff !important;
}  