.container{
    /* margin-top: 2rem; */
    /* margin: 2rem 10rem; */
    width: 80%
}

h3{
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
}
.contributor{
    font-size: 1.8rem;
    padding: 0.2rem 0rem;
    margin: 1rem 0px;
}
.name{
    text-decoration: none;
    font-size: 2.5rem;
}
.about{
    text-align: justify;
}
.link, .link:active, .link:visited{
    color: black;
    cursor: pointer;
}
.link:hover{
    color: rgb(134, 134, 255);
}
.accordian{
    background-color: #474354;
    padding: 0.2rem 2rem;
    margin: 1.5rem -2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10, #a11, #a12, #a13, #a14, #a15, #a16, #a17, #a18, #a19, #a20, #a21, #a22, #a23{
    display: none;
}
i{
    font-size: 2.5rem !important;
    margin-top: 1rem;
    color: white;
}
