.contributors{
    font-size: 2.5rem;
}
.contributors>ul{
    padding-left: 2rem;
    word-wrap: break-word;
}
.link, .link:active, .link:visited, .contributors>ul{
    color: black;
    text-decoration: black underline !important;
}
.contributors>ul>li{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.contributors>ul>li>a, .contributors>ul>li>p, .contributors>ul>li>p>a {
    text-decoration: none !important;
    font-size: 2rem;
    font-weight: 500;
    color: black;
}
.contributors>ul, .contributors>ul:active, .contributors>ul:visited, .contributors>ul:hover{
    text-decoration: none !important;
}
.contributors>h3{
    font-size: 3rem;
    font-weight: 600;
    padding-left: 2rem;
}
.contributors>ul{
    list-style:disc !important;
}
.contributors>ul>li>ul{
    list-style: none !important;
}
.contributors>ul>li>ul>li{
    font-size: 1.5rem;
}
