/*This file contains all the custom new changes in the css in Sugarlabs official website*/
/*Also add proper comment for every section you add in this custom.css file*/

/*This is for the reference video section in Music Blocks landing page */

.video-container {
  display: flex;
  justify-content: center;
}

.video-container div {
  margin: 0 10px;
}

.intro_img>.container>div>div>div>p {
  padding: 0 10px;
}

/*This is for navLogo of navbar */
#navLogo {
  margin-top: 6px;
}

/* This is for the service section on www */

#service .service-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 350px;
  box-sizing: border-box;
}

#service .service-item img{
  width: 100px;
  height: 100px;
}
@media screen and (min-width: 768px) and (max-width: 1043px) {
  .col-sm-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .service-item {
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .col-sm-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .col-md-3 {
    max-width: 33.33%;
    flex: 0 0 33.33%;
  }
}
@media (min-width: 1200px) {
  .col-md-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
}
#social-media-logos-section .social-media-logos-img {
  padding-left: 44%;
}

/* Styles for the donation banner */

#donation-banner .donate-container {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-content: normal;
  justify-content:center;
  align-items: center;
  /* background-color: rgb(0, 49, 109); */
  padding: 15px 10px;
  margin: 0;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#donation-banner {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 1;
  visibility: visible;
}

#donation-banner.hidden {
  opacity: 0;
  visibility: hidden;
}

.donate-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 10px;
}

.donate-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.donate-text-container {
  text-align: left;
  justify-content: center;
  padding: 5px 15px;
  
}

.donate-text {
  color: white;
  font-size: 1 rem;
  font-weight: bold;
  line-height: 1.5;
  max-width: 70vw;
  margin-top: 0.19rem;
  margin-bottom: 0.19rem;
}

.donate-text a {
  color: #FFD700;
  text-decoration: underline;
}

.donate-button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: white;
  /* color: rgb(0, 49, 109); */
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin: .375rem auto;
}

.donate-button a {
  color: rgb(0, 49, 109);
  text-decoration: none;
}

.donate-button:hover {
  background-color: #FFD700;
  color: rgb(0, 49, 109);
}

.donate-close-button .close-button{
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 2rem;
}


/* Responsive Design */
@media (max-width: 768px) {
  .donate-banner .donate-container{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 10px;
    
  }

  @media only screen and (max-width: 640px) {
    .donate-banner .donate-container .donate-button {
      margin-bottom: 1rem;
    }
  }
  .donate-icon {
    margin-bottom: 10px;
  }

  .donate-text-container {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .donate-text {
    font-size: 0.9rem;
  }

  .donate-button {
    text-align: center;
  }

  .donate-close-button {
    position: relative;
    top: 0;
    right: 0;
    vertical-align: middle;
  }

  .donation-bar {
    background-color: white;
    margin-top: 90px;
    padding: 10px 0; 
  }
  
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(45deg, #474354, white);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid black;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

