/*This file contains all the custom new changes in the css in Sugarlabs official website*/
/*Also add proper comment for every section you add in this custom.css file*/

/*This is for the reference video section in Music Blocks landing page */

.video-container {
  display: flex;
  justify-content: center;
}

.video-container div {
  margin: 0 10px;
}

.intro_img>.container>div>div>div>p {
  padding: 0 10px;
}

/* this css is added to change the color of dropdown-item, and making it
   consistent in all screen sizes.
 */
.dropdown-item {
  color: #007bff;
}