ul.bullet
{
	list-style-type: disc;
	text-indent: 0;
}
.bullet li:before {
	content: "";
}

.thumbnails
{
	padding-bottom: 40px;
}
.footer
{
	padding-bottom: 0;
}

/* navigation */

#menu li a:hover
{
    overflow: auto;
}
#menu li 
{
	position: static;
}
#menu li ul {
	position: fixed;
	left: 17px;
	margin-left: 0;
}
#menu ul li ul {
	position: fixed;
	left: 17px;
	margin-left: 240px;
}
#menu ul ul li ul {
	position: fixed;
	left: 17px;
	margin-left: 480px;
}
#menu ul ul ul li ul {
	position: fixed;
	left: 17px;
	margin-left: 720px;
}