/* ie6 compatibility */

#menu
{
	position: absolute;
}
#menu li ul {
	position: absolute;
	left: 0px;
	width: 243px;
	margin: -35px 0 0 0;
}
#menu ul li ul {
	position: absolute;
	left: 0px;
	width: 243px;
	margin: -35px 0 0 240px;
}
#menu ul ul li ul {
	position: absolute;
	left: 0px;
	width: 243px;
	margin: -35px 0 0 240px;
}
#menu ul ul ul li ul {
	position: absolute;
	left: 0px;
	width: 243px;
	margin: -35px 0 0 240px;
}