---
---
// Colors to use with ion icons
// Somewhat based off Social Share Kit - https://github.com/darklow/social-share-kit/blob/master/dist/css/social-share-kit.css

// By default the hover color is darkened. You can set the percent below
@use "sass:color";
$darken-percent: 10%;

// Facebook colors
$facebook-color: white;
$facebook-color-hover: color.adjust($facebook-color, $lightness: -$darken-percent);
$facebook-background: #1877f2;
$facebook-background-hover: color.adjust($facebook-background, $lightness: -$darken-percent);

// Github colors
$github-color: white;
$github-color-hover: color.adjust($github-color, $lightness: -$darken-percent);
$github-background: black;
$github-background-hover: color.adjust($github-background, $lightness: -$darken-percent);

// X colors
$X-color: white;
$X-color-hover: color.adjust($X-color, $lightness: -$darken-percent);
$X-background: black;
$X-background-hover: color.adjust($X-background, $lightness: -$darken-percent);

// Instagram colors
// Instagram uses the background on both for both sticky and non sticky icons
$instagram-color: white;
$instagram-color-hover: #d9a1f1;
$instagram-background: linear-gradient(#4c4bdb85, transparent), linear-gradient(60deg, #ffff00, #ff00d3, #0e39dc);
$instagram-background-hover: linear-gradient(color.adjust(#4c4bdb85, $lightness: -$darken-percent), color.adjust(transparent, $lightness: -$darken-percent)), linear-gradient(60deg, color.adjust(#ffff00, $lightness: -$darken-percent), color.adjust(#ff00d3, $lightness: -$darken-percent), color.adjust(#0e39dc, $lightness: -$darken-percent));

// Youtube colors
$youtube-color: white;
$youtube-color-hover: color.adjust($youtube-color, $lightness: -$darken-percent);
$youtube-background: red;
$youtube-background-hover: color.adjust($youtube-background, $lightness: -$darken-percent);

// Mastodon colors
$mastodon-color: white;
$mastodon-color-hover: color.adjust($mastodon-color, $lightness: -$darken-percent);
$mastodon-background: #3088d4;
$mastodon-background-hover: color.adjust($mastodon-background, $lightness: -$darken-percent);

// LinkedIn colors
$linkedin-color: white;
$linkedin-color-hover: color.adjust($linkedin-color, $lightness: -$darken-percent);
$linkedin-background: #0077b5;
$linkedin-background-hover: color.adjust($linkedin-background, $lightness: -$darken-percent);

// Medium colors
$medium-color: white;
$medium-color-hover: color.adjust($medium-color, $lightness: -$darken-percent);
$medium-background: black;
$medium-background-hover: color.adjust($medium-background, $lightness: -$darken-percent);

.ion-sticky {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
  position: fixed;
  z-index: 2147483647;
}

.ion-sticky-icon {
  float: left;
  display: block;
  clear: both;
  transition: padding 0.1s ease-out;
  -webkit-transition: padding 0.1s ease-out;
  -moz-transition: padding 0.1s ease-out;
  -ms-transition: padding 0.1s ease-out;
  -o-transition: padding 0.1s ease-out;
  margin: 0;
  padding: 9px;
  color: white;

  &:hover {
    padding-left: 15px;
    color: white;
  }

  &.ion-logo- {
    &facebook {
      background: $facebook-background;
      text-indent: 3px;
      margin-right: -1.5px;
      border-radius: 0 0.25em 0 0;

      &:hover {
        background: $facebook-background-hover;
      }
    }

    &github {
      background: $github-background;
      text-indent: 1.5px;
      margin-right: -1.5px;

      &:hover {
        background: $github-background;
      }
    }
      
    &X {
      background: $X-background;
      text-indent: 1px;
      margin-right: -1px;

      &:hover {
        background: $X-background-hover;
      }
    }
      
    &instagram {
      background: $instagram-background;
      text-indent: 2px;
      margin-right: -3.5px;
      font-size: 2rem;

      &:hover {
        background: $instagram-background-hover;
      }
    }
      
    &youtube {
      background: $youtube-background;
      border-radius: 0 0 0.25em 0;

      &:hover {
        background: $youtube-background-hover;
      }
    }

    &mastodon {
      background: $mastodon-background;
      text-indent: 1px;
      margin-right: -1px;

      &:hover {
        background: $mastodon-background-hover;
      }
    }

    &linkedin {
      background: $linkedin-background;
      text-indent: 1px;
      margin-right: -1px;

      &:hover {
        background: $linkedin-background-hover;
      }
    }

    &medium {
      background: $medium-background;
      text-indent: 1.5px;
      margin-right: -1.5px;

      &:hover {
        background: $medium-background-hover;
      }
    }
  }
}

.ion-icon {
  padding: 1px 4px;
  margin: 0.5rem;
  display: inline-block;
  border-radius: 50%;

  &.ion-logo- {
    &facebook {
      color: $facebook-color;
      border: 1px solid $facebook-background;
      padding: 0.3rem 1rem;
      background-color: $facebook-background;
      font-size: 2rem;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $facebook-color-hover;
      }
    }

    &github {
      color: $github-color;
      font-size: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      
      &:hover {
        color: $github-color-hover;
      }
    }
      
    &X {
      color: $X-color;
      border: 1px solid $X-background;
      background-color: $X-background;
      font-size: 1.5rem;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &:hover {
        color: $X-color-hover;
      }
    }
             
    &instagram {
      // Instagram uses background color
      color: $instagram-color;
      background: $instagram-background;
      font-size: 2rem;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    
      &:hover {
        color: $instagram-color-hover;
      }
    }
      
    &youtube {
      color: $youtube-color;
      background-color: $youtube-background;
      font-size: 1.5rem;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $youtube-color-hover;
      }
    }

    &mastodon {
      color: $mastodon-color;
      border: 1px solid $mastodon-background;
      padding: 0.3rem 1rem;
      background-color: $mastodon-background;
      font-size: 2rem;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $mastodon-color-hover;
      }
    }

    &linkedin {
      color: $linkedin-color;
      border: 1px solid $linkedin-background;
      background-color: $linkedin-background;
      font-size: 2rem;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $linkedin-color-hover;
      }
    }

    &medium {
      color: $medium-color;
      font-size: 3rem;
      height: 3rem;     
      width: 3rem;      
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $medium-color-hover;
      }
    }
  }
}
