---
---

// Colors to use with ion icons
// Somewhat based off Social Share Kit - https://github.com/darklow/social-share-kit/blob/master/dist/css/social-share-kit.css

// By default the hover color is darkened. You can set the percent below
$darken-percent: 10%;

// Facebook colors
$facebook-color: white;
$facebook-color-hover: darken($facebook-color, $darken-percent);
$facebook-background: #1877f2;
$facebook-background-hover: darken($facebook-background, $darken-percent);

// Github colors
$github-color: white;
$github-color-hover: darken($github-color, $darken-percent);
$github-background: black;
$github-background-hover: darken($github-background, $darken-percent);

// Twitter colors
$twitter-color: white;
$twitter-color-hover: darken($twitter-color, $darken-percent);
$twitter-background: #38a1f3;
$twitter-background-hover: darken($twitter-background, $darken-percent);

// Instagram colors
// Instagram uses the background on both for both sticky and non sticky icons
$instagram-color: white;
$instagram-color-hover: #d9a1f1;
$instagram-background: linear-gradient(#4c4bdb85, transparent),
  linear-gradient(60deg, #ffff00, #ff00d3, #0e39dc);
$instagram-background-hover: linear-gradient(
    darken(#4c4bdb85, $darken-percent),
    darken(transparent, $darken-percent)
  ),
  linear-gradient(
    60deg,
    darken(#ffff00, $darken-percent),
    darken(#ff00d3, $darken-percent),
    darken(#0e39dc, $darken-percent)
  );

// Youtube colors
$youtube-color: white;
$youtube-color-hover: darken($youtube-color, $darken-percent);
$youtube-background: red;
$youtube-background-hover: darken($youtube-background, $darken-percent);

// Mastodon colors
$mastodon-color: white;
$mastodon-color-hover: darken($mastodon-color, $darken-percent);
$mastodon-background: #3088d4;
$mastodon-background-hover: darken($mastodon-background, $darken-percent);

.ion-sticky {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
  position: fixed;
  z-index: 2147483647;
}

.ion-sticky-icon {
  float: left;
  display: block;
  clear: both;
  transition: padding 0.1s ease-out;
  -webkit-transition: padding 0.1s ease-out;
  -moz-transition: padding 0.1s ease-out;
  -ms-transition: padding 0.1s ease-out;
  -o-transition: padding 0.1s ease-out;
  margin: 0;
  padding: 9px;
  color: white;

  &:hover {
    padding-left: 15px;
    color: white;
  }

  &.ion-logo- {
    &facebook {
      background: $facebook-background;
      text-indent: 3px;
      margin-right: -1.5px;
      border-radius: 0 0.25em 0 0;

      &:hover {
        background: $facebook-background-hover;
      }
    }

    &github {
      background: $github-background;
      text-indent: 1.5px;
      margin-right: -1.5px;

      &:hover {
        background: $github-background;
      }
    }

    &twitter {
      background: $twitter-background;
      text-indent: 1px;
      margin-right: -1px;

      &:hover {
        background: $twitter-background-hover;
      }
    }

    &instagram {
      background: $instagram-background;
      text-indent: 2px;
      margin-right: -3.5px;
      font-size: 2rem;

      &:hover {
        background: $instagram-background-hover;
      }
    }

    &youtube {
      background: $youtube-background;
      border-radius: 0 0 0.25em 0;

      &:hover {
        background: $youtube-background-hover;
      }
    }
    &mastodon {
      background: $mastodon-background;
      text-indent: 1px;
      margin-right: -1px;

      &:hover {
        background: $mastodon-background-hover;
      }
    }
  }
}

.ion-icon {
  padding: 1px 4px;
  margin: 0.5rem;
  display: inline-block;
  border-radius: 50%;

  &.ion-logo- {
    &facebook {
      color: $facebook-color;
      border: 1px solid $facebook-background;
      padding: 0.3rem 1rem;
      background-color: $facebook-background;
      font-size: 2rem;
      height: 2.5rem;
      width: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $facebook-color-hover;
      }
    }

    &github {
      color: $github-color;
      font-size: 2.8rem;
      height: 2.5rem;
      width: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: $github-color-hover;
      }
    }

    &twitter {
      color: $twitter-color;
      border: 1px solid $twitter-background;
      background-color: $twitter-background;
      font-size: 1.5rem;
      height: 2.5rem;
      width: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $twitter-color-hover;
      }
    }

    &instagram {
      // Instagram uses background color
      color: $instagram-color;
      background: $instagram-background;
      font-size: 2rem;
      height: 2.5rem;
      width: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $instagram-color-hover;
      }
    }

    &youtube {
      color: $youtube-color;
      background-color: $youtube-background;
      font-size: 1.5rem;
      height: 2.5rem;
      width: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $youtube-color-hover;
      }
    }
    &mastodon {
      color: $mastodon-color;
      border: 1px solid $mastodon-background;
      padding: 0.3rem 1rem;
      background-color: $mastodon-background;
      font-size: 2rem;
      height: 2.5rem;
      width: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $mastodon-color-hover;
      }
    }
  }
}
