/* main text color */
.headline,
a.link:link,
a.link:visited,
a,
.title
{
	color: #FF64D2;
}

/* main background color */
a.link:hover
{
	color: black;
	background-color: #FF64D2;
}

/* secondary text color */
#menu li a:link,
#menu li a:visited
{
	color: #6E008C;
}


/* secondary text and background */
#menu li a:hover
{
	color: white;
	background-color: #6E008C;
}

#menu li a.current:link,
#menu li a.current:visited
{
	color: black;
	background-color: #6E008C;
}