---
---
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/main.css" />
		<link id="defaultIcon" rel="shortcut icon" href="assets/favicon_06.png" />
		<title>{{ page.title }}</title>
	</head>
	<body>
        <video loop autoplay controls=false class="video-background no-center"
               placeholder="assets/blur_bg.jpg">
			<!-- These files are too large for git (~5mb each) -->
            <source type="video/webm" src="http://people.sugarlabs.org/sam/blur_bg_384kbs.webm"></source>
            <source type="video/ogg" src="http://people.sugarlabs.org/sam/blur_bg_384kbs.ogg"></source>
			<!-- TODO: h264 for apple -->
        </video>

        <nav>
            <div>
                <a class="red" href="https://activities.sugarlabs.org/">Activities</a>
                <a class="orange" href="http://wiki.sugarlabs.org/">Wiki</a>
                <a class="purple last" href="https://socialhelp.sugarlabs.org/">Social Help</a>
            </div>
        </nav>

        <div class="logo">
            {% include logo.svg %}
            <p>Learning software for children</p>
        </div>
		
		<div class="headerbox no-center">
			<h1>Welcome to Sugar Labs!</h1>
			<p>
				Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities that encourage critical thinking, the heart of a quality education. Designed from the ground up especially for children, Sugar offers an alternative to traditional “office-desktop” software.
            </p>
            <p>
				Sugar is the core component of a worldwide effort to provide every child with equal opportunity for a quality education. Available in 25 languages, Sugar’s <a href="#activities">activities</a> are used every school day by nearly 3 million children in more than forty countries.
            </p>
            <p>
				Originally developed for the One Laptop per Child XO-1 netbook, Sugar runs on most computers. Sugar is free/libre and open-source software. <a href="http://sugarlabs.org/go/DocumentationTeam/Try_Sugar">Try it with a child today!</a>
			</p>
			<iframe src="https://www.youtube.com/embed/RVRReDdoW9g" frameborder="0" style="display: block;margin: 0 auto" allowfullscreen></iframe>
		</div>

		<h1>About</h1>
		<div class="standardbox no-center" id="about">
			{% include about.html %}
		</div>

		<h1>Activities</h1>
		<div class="standardbox no-center" id="activities">
			{% include about_activites.html %}
            {% render_activities %}
		</div>

		<h1>Features</h1>
		<div class="standardbox no-center" id="features">

			{% include about_features.html %}
		</div>

        <h1>Education</h1>
		<div class="standardbox no-center" id="education">
			{% include education.html %}
		</div>

        <h1>Parents</h1>
		<div class="standardbox no-center" id="parents">
			{% include parents.html %}
		</div>
		
        <h1>Learners</h1>
		<div class="standardbox no-center" id="learners">
			{% include learners.html %}
		</div>

        <h1>Teachers</h1>
		<div class="standardbox no-center" id="teachers">
			{% include teachers.html %}
		</div>

        <h1>A learning and software-development community</h1>
		<div class="standardbox no-center" id="community">
			{% include contributors.html %}
		</div>
			
		<div class="standardbox no-center" id="more">
			<p>See more for <a href="press/">press</a></p>	
		</div>

		<footer>
			Created by the Sugar community, 2015
			<br/>
			Content is available under the <a href="http://creativecommons.org/licenses/by/3.0/">creative commons attribution 3.0 unported</a> license
			<br/>
			Copyright © 2009 - 2015 Software Freedom Conservancy—Sugar Labs®—learning software for children
			<br/>
			<ul class="social">
				<li><a href="https://www.facebook.com/pages/SugarLabs/187845102582"><img src="assets/social/facebook.png"></a></li>
				<li><a href="https://twitter.com/sugarlabs"><img src="assets/social/twitter.png"></a></li>
				<li><a href="https://www.linkedin.com/company/454719"><img src="assets/social/linkedin.png"></a></li>
				<li><a href="https://github.com/sugarlabs"><img src="assets/social/github.png"></a></li>
				<li><a href="https://flickr.com/search/?tags=sugarlabs"><img src="assets/social/flickr.png"></a></li>
				<li><a href="http://en.wikipedia.org/wiki/Sugar_Labs"><img src="assets/social/wiki.png"></a></li>
				<li><a href="https://socialhelp.sugarlabs.org" title="Sugar Social Help"><img src="assets/social/socialsugar.png"></a></li>
			</ul>
		</footer>

		<script src="js/main.js"></script>
	</body>
</html>
