---
layout: default
title: Press Information - Sugar Labs
permalink: /press/index.html
---

<!-- Title section -->
<div class="section-title1" >
    <span class="tag tag-regular">NEWS AND PRESS</span>
</div>

<section id="call-to-action">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12" >
            <span>To be added to our press list, email us at <a href="mailto:pr@sugarlabs.org">pr@sugarlabs.org</a></span>
          </div>
        </div>
    </div>
</section>	

<!-- "Press information" section -->
<section id="intro">
    <div class="justify-content-center">
        <h2 class="text-center">PRESS RELEASE</h2>
    </div>
    <div class="container mt-5 my-2">
        <div class="border-bottom pb-3 mb-3">
            <ol id="postList">
                {% for post in site.categories.press limit:2 %}
                <li class="listFont">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <i style="display: block;">{{ post.date | date: "%b %-d %Y" }}</i>
                    <i class="display:block;">By {{ post.author | default: "Sugar Community Member" }}</i>
                    <hr>
                </li>
                {% endfor %}
            </ol>
            <button style="
                display: block;
                margin: 0 auto;
                cursor: pointer;
                " id="toggleButton" onclick="togglePost()">Show More
            </button>
            <script>
                const postListEl = document.getElementById("postList");
                const toggleBtn = document.getElementById("toggleButton");
                let isShowingAll = false;
            
                function togglePost() {
                    if (!isShowingAll) {
                        postListEl.innerHTML = `
                            {% for post in site.categories.press %}
                            <li class="listFont">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                                <i style="display: block;">{{ post.date | date: "%b %-d %Y" }}</i>
                                <hr>
                            </li>
                            {% endfor %}
                        `;
                        toggleBtn.textContent = "Show Less";
                        isShowingAll = true;
                    } else {
                        postListEl.innerHTML = `
                            {% for post in site.categories.press limit:2 %}
                            <li class="listFont">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                                <i style="display: block;">{{ post.date | date: "%b %-d %Y" }}</i>
                                <hr>
                            </li>
                            {% endfor %}
                        `;
                        toggleBtn.textContent = "Show More";
                        isShowingAll = false;
                    }
                }
            </script>
        </div>
    </div>
</section>

<!-- Useful materials and "Back to main page" section -->
<section id="call-to-action">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12" >
            <a href="{{ site.baseurl }}/" ><button type="button" class="btn bt-raised btn-custom bt lastButtonMargin" >Return to main page</button></a>
          </div>
        </div>
    </div>
</section>

