<h4>What is Sugar?</h4>
<p>The Sugar Learning Platform is a computer environment composed of Activities designed to help children from 5 to 12 years of age learn together through rich-media expression. Sugar is the core component of a worldwide effort to provide every child with the opportunity for a quality education—it is currently used by more than 3 million
children worldwide speaking more than 25 languages and in more than 40 countries. Sugar provides the means to help people lead fulfilling lives through access to a quality education that is currently missed by so many.</p>

<h4>Runs on most PCs</h4>
<p>Originally developed for the revolutionary <a href="http://www.laptop.org/">One Laptop per Child</a> XO-1 netbook, Sugar can run on almost any PC, including small netbooks, older and donated machines, and new energy efficient computers with limited processing power. Sugar is now packaged as part of most major GNU/Linux distributions and is compatible with recent Macs using virtualization. A liveUSB stick, which can run on most PCs is available. An virtual machine image for Macs and PCs is also available. A web version is under development.</p>

<h4>Why Sugar?</h4>
<p>Sugar sets aside the traditional “office-desktop” metaphor and, through its Activities, engages even the youngest learners in the use of computation as a powerful “thing to think with.” Unlike when using "Apps", which are self-contained, Sugar learners quickly become proficient in using the computer as a tool to engage in authentic problem-solving. Moreover, most Sugar Activities can be shared by learners between machines—children learn as a group, not as a collection of individual users. Sugar users develop skills that help them in all aspects of life.</p>

<h4>What is Sugar Labs?</h4>
<p>Sugar Labs, a volunteer-driven, non-profit organization, is a member project of the <a href="http://conservancy.softwarefreedom.org/">Software Freedom Conservancy</a>. The mission of Sugar Labs is to support the Sugar community of users and developers and establish regional, autonomous “Sugar Labs” around the world to help children “learn how to learn” by tailoring Sugar to local languages and curricula.</p>

