<p>There are many ways you can take an active hand in making Sugar even better. Financial contributions large and small are greatly appreciated and will be used to support grassroots learning innovations and face-to-face meetings between developers and educators. The community is organized into teams. Please join a team in order to help us expand our educational, technical, and community goals.</p>

<h4>Education goals</h4>
<p>Sugar is useful only to the extent it is used by the learning community. Thus Sugar Labs is working with educators around the world to focus on these learning challenges:</p>
<ul>
<li>To make Sugar and Sugar activities freely and readily available to learners everywhere</li>
<li>To explore and share best practices</li>
<li>To provide a forum for discussion and support for technology for learning</li>
<li>To provide a mechanism for evaluation and dissemination of results</li>
</ul>
<h4>Technical goals</h4>
<p>Sugar supports the notions that learners should “share by default” and be able to “explore, express, debug, and critique.” We focus on solving the challenges that are relevant to these distinct aspects of the interface:</p>
<ul>
<li>To make it “simple” to share Sugar activities</li>
<li>To create versions of Sugar that run on multiple operating systems and on multiple hardware platforms</li>
<li>To make it “simple” to write Sugar activities</li>
<li>To make Sugar activities even more secure</li>
</ul>
<h4>Community goals</h4>
<p>Sugar Labs is here to support community innovation, entrepreneurship, and enterprise. Sugar Labs would like to help community members start projects that help sustain and grow the Sugar technology and learning communities:</p>
<ul>
<li>To provide local and regional technical and pedagogical support</li>
<li>To create new learning activities and pedagogical practice</li>
<li>To provide localization and internationalization of software, content, and documentation</li>
<li>To provide integration and customization services</li>
</ul>
