<footer class="center">
  <p>Created by the Sugar Labs community, available under the
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
  CC BY NC 4.0</a>
  </p>

  <p id="copy"></p>
<script>
  document.getElementById("copy").innerHTML="Copyright &copy; 2009-"+new Date().getFullYear()+ " Software Freedom Conservancy, Sugar Labs&reg;";
</script>

  <!-- FIXME: Update/remove pages -->
  <p>Connect with us on
    <a href="https://socialhelp.sugarlabs.org">Social Help</a> or
    <a href="https://www.facebook.com/SugarLabs-187845102582/timeline/">Facebook</a> or
    <a href="https://github.com/sugarlabs">GitHub</a>
  </p>

  <p><a href="#top" title="Back to the top">Back to top</a></p>
</footer>

