<!-- Footer -->
<footer  style="background-color:#282828;padding-top:5px;">
    <h4 style="text-align:right;margin-right:20px;"><a href="#top" class="hrefCustomColor">Back to top&nbsp<i class="icon ion-arrow-up-c"></i></a></h4>
    <div class="container">
        <div class="row">
            <div class="col-md-12" >
                <div class="row">
                    <div class="col-md-2 widget">
                        <h4 class="footerHeaderStyle align-center-md"><b>Sugar Labs</b></h4>
                        <article class="widget_content">
                            <ul class="leftAlign align-center-col-md">
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/about-us">About Us</a></li>
                                <li class="footerListStyle"><a href="https://wiki.sugarlabs.org/go/Sugar_Labs/Getting_Involved">Get Involved</a></li>
                                <li class="footerListStyle"><a href="https://wiki.sugarlabs.org/go/Sugar_Labs/Donate">Support Sugar</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/contact-us">Contact Us</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/students">For Students</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/school-administrators">For School Administrators</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/parents">For Parents</a></li>
                                <li class="footerListStyle"><a href="https://github.com/sugarlabs/sugar-docs/blob/master/README.md">For Developers</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/sugar-stories">Sugar Stories</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/music-blocks">Music Blocks</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/turtle-blocks-js">Turtle Blocks JS</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/profiles">Contributors</a></li>
                            </ul>
                        </article>
                    </div>
                    <div class="col-md-2 widget">
                        <h4 class="footerHeaderStyle align-center-md"><b>Development</b></h4>
                        <article class="widget_content">
                            <ul class="leftAlign align-center-col-md">
                                <li class="footerListStyle"><a href="https://wiki.sugarlabs.org/">Sugar Labs Wiki</a></li>
                                <li class="footerListStyle"><a href="https://wiki.sugarlabs.org/go/Mailing_Lists">Join mailing list</a></li>
                                <li class="footerListStyle"><a href="https://help.sugarlabs.org/en/">Documentation</a></li>
                                <li class="footerListStyle"><a href="http://chat.sugarlabs.org:9090/">IRC Channels</a></li>
                                <li class="footerListStyle"><a href="https://socialhelp.sugarlabs.org">Bug Tracker</a></li>
                                <li class="footerListStyle"><a href="https://wiki.sugarlabs.org/go/Development_Team/Source_Code">Development code</a></li>
                                <li class="footerListStyle"><a href="http://translate.sugarlabs.org">Translation Platform</a></li>
                            </ul>
                        </article>
                    </div>
                    <div class="col-md-2 widget">
                        <h4 class="footerHeaderStyle align-center-md"><b>Resources</b></h4>
                        <article class="widget_content">
                            <ul class="leftAlign align-center-col-md">
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/more" >Culture and pedagogy</a></li>
                                <li class="footerListStyle"><a href="http://schoolserver.org/" >School Server Resources</a></li>
                                <li class="footerListStyle"><a href="http://planet.sugarlabs.org" >Planet Sugar Labs</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/about-libre-software-culture" >Libre Software Culture</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/about-irc" >About IRC</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/sugar-lesson-plans" >Sugar Lesson Plans</a></li>
                            </ul>
                        </article>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12" >
                                <div class="row">
                                    <div class="col-md-5 to-animate col-md-push-3" style="margin-top:10px;">
                                        <div class="row align-center-md">
                                            <div id="own-ssk" class="ssk-group">
                                                <a href="https://www.facebook.com/SugarLabs-187845102582/timeline/" class="ion-icon ion-social-facebook"></a>
                                                <a href="https://github.com/sugarlabs" class="ion-icon ion-social-github"></a>
                                                <a href="https://twitter.com/sugar_labs" class="ion-icon ion-social-twitter"></a>
                                                <a href="https://www.instagram.com/sugarlabsforall/" class="ion-icon ion-social-instagram" ></a>
                                                <a href="https://www.youtube.com/channel/UCfsR9AEb7HuPRAc14jfiI6g/featured" class="ion-icon ion-social-youtube"></a>
                                            </div>
                                            </br>
                                        </div>
                                    </div>
                                </div>
                                </br>
<!--
                                <div class="row">
                                    <div class="col-md-9 col-md-push-3">
                                        <div id="mc_embed_signup">
                                            <form action="//sugarlabs.us16.list-manage.com/subscribe/post?u=23c6df6118693ee743df3e0a4&amp;id=11cb7e5c96" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                                <div id="mc_embed_signup_scroll">
                                                    <label class='align-center-md' for="mce-EMAIL"><h4><span class="customSpanColor"><b>Subscribe to our newsletter</b></span></h4></label>
                                                    <div class='align-center-md'>
                                                        <input type="email" value="" name="EMAIL" class="email footer-email-input-md" id="mce-EMAIL" placeholder="email address" required>
                                                    </div>
-->
                                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<!--
                                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_23c6df6118693ee743df3e0a4_11cb7e5c96" tabindex="-1" value=""></div>
                                                    <div class="clear">
                                                        <div class='align-center-md'>
                                                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
-->
                                </br>
                                <div class="row">
                                    <div id="contributeHeader" class="col-md-12">
                                        <h4 class='align-center-md'><a href="https://github.com/sugarlabs/www-sugarlabs"><b><span class="ion-social-github" style="font-size:17px;color: #0099FF; margin-right: 12px;"></span><span style="font-size:17px;color: #0099FF;">Contribute to website</span></b></a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </br>
                <div class="row" >
                    <div class="col-md-12" style="margin-top:12px;">
                        <p style="text-align:left;font-size:13px;" class='text-center-md'>
                        Copyright &copy; Sugar Labs&reg; available under the <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License(CC-BY-SA)</a>.</br>
                        Website base template: Designed and developed by Themefisher
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- FLoating social media icons -->
<div id="mobile-ssk" class="ion-sticky ssk-group">
    <a href="https://www.facebook.com/SugarLabs-187845102582/timeline/" class="ion-sticky-icon ion-social-facebook"></a>
    <a href="https://github.com/sugarlabs" class="ion-sticky-icon ion-social-github"></a>
    <a href="https://twitter.com/sugar_labs" class="ion-sticky-icon ion-social-twitter"></a>
    <a href="https://www.instagram.com/sugarlabsforall/" class="ion-sticky-icon ion-social-instagram"></a>
    <a href="https://www.youtube.com/channel/UCfsR9AEb7HuPRAc14jfiI6g/featured" class="ion-sticky-icon ion-social-youtube"></a>
</div>

<!-- Javascript files -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
if (typeof jQuery.nicescroll == 'undefined') {
    document.write('<script src="{{ site.baseurl }}/js/jquery-nicescroll.js"><\/script>');
}
</script>
<script  type="text/javascript" src="{{ site.baseurl }}/js/modernizr.min.js"></script>
<script  type="text/javascript" src="{{ site.baseurl }}/js/plugins.js"></script>
<script  type="text/javascript" src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script type="text/javascript">
if (typeof jQuery.waypoints == 'undefined') {
    document.write('<script src="{{ site.baseurl }}/js/waypoints.js"><\/script>');
}
</script>

<!-- Inline Javascript scripts -->
<script  type="text/javascript">
	$(document).on('click', "a[href='#top']", function (e) {
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        return false;
    })
    $(document).ready(function () {
        $("#sidebar").niceScroll({
        cursorcolor: '#53619d',
        cursorwidth: 4,
        cursorborder: 'none'
        });
        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').fadeOut();
        });
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').fadeIn();
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
    $(document).on('click', '.panel-heading span.icon_minim', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.removeClass('ion-minus-round').addClass('ion-plus-round');
        }
        else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.removeClass('ion-plus-round').addClass('ion-minus-round');
        }
        return false;
    });
    $(document).on('click', '#panel1', function (e) {
        var $this = $(".panel-heading span.icon_minim");
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.removeClass('ion-minus-round').addClass('ion-plus-round');
        }
        else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.removeClass('ion-plus-round').addClass('ion-minus-round');
        }
    return false;
    });
    $(document).on("scroll", function () {
        if ($(document).scrollTop() > 10) {
            $("header").removeClass("large").addClass("small");
        }
        else {
            $("header").removeClass("small").addClass("large");
        }
    });
    var slideIndex = 0;
    showSlides();
    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot1");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex> slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active1", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active1";
        setTimeout(function(){showSlides();}, 5000);
    }
</script>

<!-- Google analytics code -->
<script  type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-102776855-1', 'auto');
    ga('send', 'pageview');
</script>
