<!-- Footer -->
<footer style="background-color:#282828;padding-top:5px;">
    <h5 style="text-align:right;margin-right:20px;">
        <a href="#top" class="hrefCustomColor" id="scrollToTopBtn" style="display:none;">
            <svg width="24" height="15" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" class="icon">
                <polygon points="16,14 6,24 7.4,25.4 16,16.8 24.6,25.4 26,24" class="arrow" fill="white" stroke="black" stroke-width="3"/>
            </svg>                             
        </a>
    </h5>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-around">
                    <!-- Donation Info Section -->
                    <div class="col-12 col-md-2 widget mb-4">
                        <h6 class="footerHeaderStyle text-center">
                            Sugar Labs® is a registered USA 501(c)(3) tax-exempt, not-for-profit organization, supported by our generous contributors and sponsors. 
                            <p class="DonateFooter mt-2">
                                <a href="{{ site.baseurl }}/donate">Donate</a> or
                                <a href="{{ site.baseurl }}/volunteering">Volunteer today</a>!
                            </p>
                        </h6>
                    </div>

                    <!-- Sugar Labs Section -->
                    <div class="col-12 col-md-3 widget mb-4">
                        <h4 class="footerHeaderStyle text-center text-md-start"><b>Sugar Labs</b></h4>
                        <article class="widget_content">
                            <ul class="list-unstyled text-center text-md-start">
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/about-us">About Us</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/volunteering">Get Involved</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/donate">Donate to Sugar Labs</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/leadership">Leadership and Governance</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/contact-us">Contact Us</a></li>
                            </ul>
                        </article>
                    </div>

                    <!-- Resources Section -->
                    <div class="col-12 col-md-3 widget mb-4">
                        <h4 class="footerHeaderStyle text-center text-md-start"><b>Resources</b></h4>
                        <article class="widget_content">
                            <ul class="list-unstyled text-center text-md-start">
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/more">Culture and pedagogy</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/students">For Students</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/school-administrators">For School Administrators</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/parents">For Parents</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/develop">For Developers</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/sugar-stories">Sugar Stories</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/music-blocks">Music Blocks</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/turtle-blocks-js">Turtle Blocks JS</a></li>
                            </ul>
                        </article>
                    </div>

                    <!-- Development Section -->
                    <div class="col-12 col-md-3 widget mb-4">
                        <h4 class="footerHeaderStyle text-center text-md-start"><b>Development</b></h4>
                        <article class="widget_content">
                            <ul class="list-unstyled text-center text-md-start">
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/develop">Read about development</a></li>
                                <li class="footerListStyle"><a href="https://wiki.sugarlabs.org/go/Mailing_Lists">Join mailing list</a></li>
                                <li class="footerListStyle"><a href="https://help.sugarlabs.org/en/">Documentation</a></li>
                                <li class="footerListStyle"><a href="https://matrix.to/#/#sugar:matrix.org">Chat with us on Matrix</a></li>
                                <li class="footerListStyle"><a href="https://wiki.sugarlabs.org/go/Development_Team/Source_Code">Development code</a></li>
                                <li class="footerListStyle"><a href="https://translate.sugarlabs.org">Translation Platform</a></li>
                                <li class="footerListStyle"><a href="https://wiki.sugarlabs.org/">Sugar Labs Wiki</a></li>
                                <li class="footerListStyle"><a href="{{ site.baseurl }}/profiles">Contributor Profiles</a></li>
                            </ul>
                        </article>
                    </div>

                    <!-- Social Media Section -->
                    <div class="col-12 col-md-6 mb-4">
                        <div class="row justify-content-center">
                            <div class="social-icons-container">
                                <div class="d-flex justify-content-center gap-3 mb-3">
                                    <a href="https://www.facebook.com/SugarLabsforall/timeline/" class="ion-icon ion-logo-facebook"></a>
                                    <a href="https://github.com/sugarlabs" class="ion-icon ion-logo-github"></a>
                                    <a href="https://x.com/sugar_labs" class="ion-icon ion-logo-X"></a>
                                    <a rel="me" href="https://mastodon.social/@sugar_labs" class="ion-icon ion-logo-mastodon"></a>
                                </div>
                                <div class="d-flex justify-content-center gap-3">
                                    <a href="https://www.instagram.com/sugarlabsforall/" class="ion-icon ion-logo-instagram"></a>
                                    <a href="https://www.youtube.com/channel/UCfsR9AEb7HuPRAc14jfiI6g/featured" class="ion-icon ion-logo-youtube"></a>
                                    <a href="https://www.linkedin.com/company/sugar-labs" class="ion-icon ion-logo-linkedin"></a>
                                    <a href="https://medium.com/@sugarlabs" class="ion-icon ion-logo-medium"></a>
                                </div>
                            </div>
                            <div id="contributeHeader" class="col-12 mt-4">
                                <h4 class="text-center">
                                    <a href="https://github.com/sugarlabs/www">
                                        <b>
                                            <span class="ion-logo-github" style="font-size:17px;color: #0099FF; margin-right: 12px;"></span>
                                            <span style="font-size:17px;color: #0099FF;">Contribute to this website</span>
                                        </b>
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Copyright Section -->
                <div class="row">
                    <div class="col-12 mt-3 mb-3">
                        <p class="text-center" style="font-size:13px;">
                            Copyright &copy; 2024 Sugar Labs® available under the 
                            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                                Creative Commons Attribution-ShareAlike 4.0 International License (CC BY-SA)
                            </a>.
                            <br/>
                            Website design credit: Base template 
                            <a href="https://github.com/themefisher/airspace-jekyll">Airspace</a> 
                            by Themefisher was used for this site.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
/* Footer Styles */
footer {
    color: white;
    padding: 2rem 0;
}

.footerHeaderStyle {
    color: white;
    margin-bottom: 1.5rem;
}

.footerListStyle {
    margin-bottom: 0.5rem;
}

.footerListStyle a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footerListStyle a:hover {
    color: #0099FF;
}

.social-icons-container a {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons-container a:hover {
    color: #0099FF;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .widget {
        text-align: center;
        margin-bottom: 2rem;
    }

    .footerHeaderStyle {
        margin-bottom: 1rem;
    }

    .social-icons-container {
        margin-top: 1rem;
    }
}

@media (max-width: 576px) {
    footer {
        padding: 1rem 0;
    }

    .footerListStyle {
        margin-bottom: 0.75rem;
    }
}
</style>