				<div id="blueimp-gallery" class="blueimp-gallery">
					<!-<li>The container for the modal slides -->
					<div class="slides"></div>
						<!-<li>Controls for the borderless lightbox -->
						<h3 class="title"></h3>
						<a class="prev">‹</a>
						<a class="next">›</a>
						<a class="close">×</a>
						<a class="play-pause"></a>
						<ol class="indicator"></ol>
						<!-<li>The modal dialog, which will be used to wrap the lightbox content -->
						<div class="modal fade">
						<div class="modal-dialog">
						<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" aria-hidden="true">&times;</button>
						<h4 class="modal-title"></h4>
						</div>
						<div class="modal-body next"></div>
						<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left prev">
						<i class="glyphicon glyphicon-chevron-left"></i>
						Previous
						</button>
						<button type="button" class="btn btn-primary next">
						Next
						<i class="glyphicon glyphicon-chevron-right"></i>
						</button>
						</div>
						</div>
						</div>
					</div>
				</div>
				<div id="links">
					<a href="assets/narrative_01.png" title="Story 1" data-gallery>
					<img src="assets/narrative_01.png" style="display: block; margin: 0 auto; max-width: 50%" alt="Our story 1" />
					</a>
					<p style="text-align: center; font-style: italic">Illustrated by Dongyun Lee / <a href="http://www.dongyunlee.com">http://www.dongyunlee.com</a></p>
					<a href="assets/narrative_02.png" title="Story 2" data-gallery></a>
					<a href="assets/narrative_03.png" title="Story 3" data-gallery></a>
					<a href="assets/narrative_04.png" title="Story 4" data-gallery></a>
					<a href="assets/narrative_05.png" title="Story 5" data-gallery></a>
					<a href="assets/narrative_06.png" title="Story 6" data-gallery></a>
					<a href="assets/narrative_07.png" title="Story 7" data-gallery></a>
					<a href="assets/narrative_08.png" title="Story 8" data-gallery></a>
					<a href="assets/narrative_09.png" title="Story 9" data-gallery></a>
					<a href="assets/narrative_10.png" title="Story 10" data-gallery></a>
					<a href="assets/narrative_11.png" title="Story 11" data-gallery></a>
					<a href="assets/narrative_12.png" title="Story 12" data-gallery></a>
					<a href="assets/narrative_13.png" title="Story 13" data-gallery></a>
				</div><br/>
<ul>

<li>Sugar supports sharing and collaboration. Using Sugar, teachers easily share things with their class: books and bookmarks; materials and activities.</li>

<li>Using Sugar, children collaboratively <a href="http://wiki.laptop.org/go/Browse">browse</a> the web. They share links directly within the collaborative browsing sessions.</li>

<li>Sugar comes with many core activities, including <a href="http://wiki.laptop.org/go/Write">Write</a>, a simple-to-use, collaborative word processor.</li>

<li><a href="http://sugarlabs.org/go/Sugar_on_a_Stick">Sugar on a Stick</a> gives children access to their Sugar on any computer—they only need a USB key. At home or the library, they use the USB key on any computer to access their work.</li>

<li>In the Sugar Neighborhood view, children see their connected friends. Children are shown clustered around their current activities; they can join each other’s activities.</li>

<li>The Sugar <a href="http://wiki.laptop.org/go/Draw#Paint:_A_collaborative_space_for_creation">Paint</a> activity provides a canvas for children to express themselves creatively by drawing.</li>

<li>The Sugar <a href="http://wiki.laptop.org/go/Memorize">Memorize</a> activity is a game about finding matching pairs of words, images, sounds—even videos. Memorize allows you to create new games yourself.</li>

<li>The Sugar <a href="http://wiki.laptop.org/go/Journal">Journal</a> records everything a child does using Sugar. There is no need to remember to save files. The Journal allows children to focus entirely on their activities.</li>

<li>Using Sugar, children can <a href="http://wiki.laptop.org/go/Chat">chat</a> and exchange objects—pictures, games, writing—with their connected friends.</li>

<li>Sugar provides a simple yet powerful means of engaging young children in the world of learning that is opened up by computers and the Internet. Sugar promotes sharing, collaborative learning, and reflection. Children develop skills that help them in all aspects of life.</li>

</ul>
<a href="http://sugarlabs.org/go/DocumentationTeam/Try_Sugar">Learn more</a> about how you can try Sugar.
<br/>
