<!-- Header for screens with width > 1260px and width <= 767px -->
<header class="large" id="firstHeader" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div id="navh" class="logo1">
                                <a href="{{ site.baseurl }}/">{% include logo.svg %}</a>
                            </div>
                            <div id="navh2" >
                                <a class="navbar-brand" href="{{ site.baseurl }}/">
                                    <img src="{{ site.baseurl }}/assets/logoOpt.png" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse zeroMarPadBtm" id="bs-example-navbar-collapse-1" >
                            <ul class="nav navbar-nav navbar-right abc">
                                <li><a href="{{ site.baseurl }}/search"><span class="ion-android-search customFontSize3" ></a></li>
                                <li><a href="{{ site.baseurl }}/about-us">About</a></li>
                                <li><a href="http://server.sugarizer.org">Try Now</a></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Sugar<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li ><a href="http://wiki.sugarlabs.org/go/Sugar_on_a_Stick/Installation">SOAS</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header"></li>
                                        <li ><a href="http://wiki.sugarlabs.org/go/Fedora" >On Fedora</a></li>
                                        <li ><a href="http://wiki.sugarlabs.org/go/Debian" >On Debian</a></li>
                                        <li ><a href="http://wiki.sugarlabs.org/go/Ubuntu" >On Ubuntu</a></li>
                                        <li ><a href="http://wiki.sugarlabs.org/go/Downloads#Do_you_use_GNU.2FLinux.3F" >On Other Distros</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header"></li>
                                        <li><a href="http://server.sugarizer.org/" >Sugarizer Online</a></li>
                                        <li><a href="http://sugarizer.org/" >On App</a></li>
                                        <li><a href="https://github.com/llaske/sugarizer#server" >Set up server</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header"></li>
                                        <li><a href="http://wiki.laptop.org/go/Release_notes" >On XO</a></li>
                                        <li><a href="{{ site.baseurl }}/sugar-for-raspberry-pi" >On Raspberry Pi</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://github.com/sugarlabs/training-activity" >Activity - Learn Sugar</a></li>
                                        <li><a href="http://wiki.sugarlabs.org/go/Documentation_Team/User_Manual#The_Sugar_user_manual" >Sugar Handbook</a></li>
                                        <li><a href="http://activities.sugarlabs.org" >Activities Library</a></li>
                                    </ul>
                                </li>
                                <li><a href="https://help.sugarlabs.org/">Use</a></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Join Us<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://wiki.sugarlabs.org/go/Mailing_Lists" >Community Mailing Lists</a></li>
                                        <li><a href="https://developer.sugarlabs.org/" >Developer's Guide</a></li>
                                        <li><a href="http://wiki.sugarlabs.org/go/Local_Labs" >Start a local lab</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header"></li>
                                        <li><a href="http://translate.sugarlabs.org" >Contribute to Translation</a></li>
                                        <li><a href="https://developer.sugarlabs.org" >Contribute to Software</a></li>
                                        <li><a href="https://wiki.sugarlabs.org/go/Sugar_Labs/Getting_Involved" >Contribute to Central Organisation</a></li>
                                        <li><a href="https://wiki.sugarlabs.org/go/Category:Project" >Related Projects</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="http://planet.sugarlabs.org" >Blog Archive</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- Header for screens with width >= 768px and width <= 1260px -->
<div class="container" id="secondHeader" >
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <nav id="sidebar">
                    <div id="dismiss">
                        <i class="ion-arrow-left-a"></i>
                    </div>
                    <div class="sidebar-header">
                        <h3>Sugar Labs</h3>
                    </div>
                    <ul class="list-unstyled components">
                        <li><a href="{{ site.baseurl }}/search"><span class="ion-android-search customFontSize3 customSpanColor2"></a></li>
                        <li><a href="{{ site.baseurl }}/about-us"><span class="customSpanColor2">About</span></a></li>
                        <li><a href="http://server.sugarizer.org"><span class="customSpanColor2">Try Now</span></a></li>
                        <li ><a href="#getSugarSubmenu" data-toggle="collapse" aria-expanded="false"><span class="customSpanColor2">Get Sugar</span></a>
                            <ul class="collapse list-unstyled" id="getSugarSubmenu">
                                <li ><a href="http://wiki.sugarlabs.org/go/Sugar_on_a_Stick/Installation" class="hrefCustomColor">SOAS</a></li>
                                <li ><a href="http://wiki.sugarlabs.org/go/Fedora" class="hrefCustomColor">On Fedora</a></li>
                                <li ><a href="http://wiki.sugarlabs.org/go/Debian" class="hrefCustomColor">On Debian</a></li>
                                <li ><a href="http://wiki.sugarlabs.org/go/Ubuntu" class="hrefCustomColor">On Ubuntu</a></li>
                                <li ><a href="http://wiki.sugarlabs.org/go/Downloads#Do_you_use_GNU.2FLinux.3F" class="hrefCustomColor">On Other Distros</a></li>
                                <li><a href="http://server.sugarizer.org/" class="hrefCustomColor">Sugarizer Online</a></li>
                                <li><a href="http://sugarizer.org/" class="hrefCustomColor">On App</a></li>
                                <li><a href="https://github.com/llaske/sugarizer#server" class="hrefCustomColor">Set up server</a></li>
                                <li><a href="http://wiki.laptop.org/go/Release_notes" class="hrefCustomColor">On XO</a></li>
                                <li><a href="#" class="hrefCustomColor">On Raspberry Pi</a></li>
                            </ul>
                        </li>
                        <li><a href="#downloadSubmenu" data-toggle="collapse" aria-expanded="false"><span class="customSpanColor2">Download</span></a>
                            <ul class="collapse list-unstyled" id="downloadSubmenu">
                                <li><a href="https://github.com/sugarlabs/training-activity" class="hrefCustomColor">Activity - Learn Sugar</a></li>
                                <li><a href="http://wiki.sugarlabs.org/go/Documentation_Team/User_Manual#The_Sugar_user_manual" class="hrefCustomColor">Sugar Handbook</a></li>
                                <li><a href="http://activities.sugarlabs.org" class="hrefCustomColor">Activities Library</a></li>
                            </ul>
                        </li>
                        <li><a href="https://help.sugarlabs.org/"><span class="customSpanColor2">Use</span></a></li>
                        <li ><a href="#joinUsSubmenu" data-toggle="collapse" aria-expanded="false"><span class="customSpanColor2">Join Us</span></a>
                            <ul class="collapse list-unstyled" id="joinUsSubmenu">
                                <li><a href="https://wiki.sugarlabs.org/go/Mailing_Lists" class="hrefCustomColor">Community Mailing Lists</a></li>
                                <li><a href="https://developer.sugarlabs.org/" class="hrefCustomColor">Developer's Guide</a></li>
                                <li><a href="http://wiki.sugarlabs.org/go/Local_Labs" class="hrefCustomColor">Start a local lab</a></li>
                                <li><a href="http://translate.sugarlabs.org" class="hrefCustomColor">Contribute to Translation</a></li>
                                <li><a href="https://developer.sugarlabs.org" class="hrefCustomColor">Contribute to Software</a></li>
                                <li><a href="https://wiki.sugarlabs.org/go/Sugar_Labs/Getting_Involved" class="hrefCustomColor">Contribute to Central Organisation</a></li>
                                <li><a href="https://wiki.sugarlabs.org/go/Category:Project" class="hrefCustomColor">Related Projects</a></li>
                            </ul>
                        </li>
                        <li ><a href="#blogSubmenu" data-toggle="collapse" aria-expanded="false"><span class="customSpanColor2">Blog</span></a>
                            <ul class="collapse list-unstyled" id="blogSubmenu">
                                <li><a href="http://planet.sugarlabs.org">Blog Archive</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div id="content">
                    <nav class="navbar navbar-default navbar-fixed-top customHeaderStyle2">
                        <div class="container-fluid" >
                            <div class="navbar-header customMarPadCombo5">
                                <div class="logo2" style="width:270px;height:30px;left:10px;">
                                    <span id="navh1" ><a href="{{ site.baseurl }}/">{% include logo.svg %}</a></span>
                                    <span id="navh3" ><a class="navbar-brand" href="{{ site.baseurl }}/">
                                    <img src="{{ site.baseurl }}/assets/logoOpt.png" alt="Logo" width="270px" height="65px">
                                    </a>
                                </div></span>
                                <span id="sidebarCollapse" class="customHeaderStyle3"><i class="ion-navicon-round"></i></span>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="overlay">
            </div>
        </div>
    </div>
</div>
