<!-- Header for screens with width > 1260px and width <= 767px -->
<header class="large" id="firstHeader">
  <div class="row">
    <div class="container">
    	<div>
        {% include banner.html %}
      </div>

      <nav class="navbar navbar-default navbar-expand-lg fixed-top align-items-center d-flex justify-content-between     pb-0  pt-0">
        <div class="logo1" id="navLogo">
          <a href="{{ site.baseurl }}/">{% include logo.svg %}</a>
        </div>

        <div class="d-flex justify-content-center">
          <div class="zeroMarPadBtm ">
            <ul class="mr-5  navbar-nav" id="menuBar">
              <li class="nav-item dropdown align-self-center">
                <a
                  href="{{ site.baseurl }}/#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >About<span class="caret"></span
                ></a>
                <div class="dropdown-menu">
                 <a class="dropdown-item" href="{{ site.baseurl }}/about-us"
                 >About us</a>
                 <a class="dropdown-item" href="{{ site.baseurl }}/about-us/#mission"
                 >Our mission</a>
                 <a class="dropdown-item" href="{{ site.baseurl }}/leadership"
                 >Leadership and governance</a>
                 <a class="dropdown-item" href="{{ site.baseurl }}/contact-us"
                 >Contact us</a>
                 <a class="dropdown-item" href="{{ site.baseurl }}/FAQ"
                 >FAQs</a> 
                </div>
              </li>


              <li class="nav-item dropdown align-self-center">
                <a
                  href="{{ site.baseurl }}/#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >News<span class="caret"></span
                ></a>
                <div class="dropdown-menu">
                <a class="dropdown-item"
                  href="{{ site.baseurl }}/community-news"
                  >Community News</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/event"
                  >Events</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/press"
                  >Press Release</a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/#try">Try now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/develop"
                  >Join development</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/volunteering"
                  >Volunteer</a
                >
              </li>
              <li class="nav-item dropdown align-self-center">
                <a
                  href="{{ site.baseurl }}/#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Donate<span class="caret"></span
                ></a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ site.baseurl }}/donate"
                  >Donate</a>
                <a class="dropdown-item" href="https://www.bonfire.com/store/sugar-labs-merch/"
                  >Store</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<!-- Header for screens with width <= 1215px -->
<div class="sticky-top bg-white container-fluid flex-fill w-100" id="secondHeader">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="logo2">
      <a href="{{ site.baseurl }}/">{% include logo.svg %}</a> 
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    {% include banner-mobile.html %}
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="{{ site.baseurl }}/#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            About us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/about-us"
              >About us</a
            >
            <a class="dropdown-item" href="{{ site.baseurl }}/about-us/#mission"
              >Our mission</a
            >
            <a class="dropdown-item" href="{{ site.baseurl }}/leadership"
              >Leadership and governance</a
            >
            <a class="dropdown-item" href="{{ site.baseurl }}/contact-us"
              >Contact us</a
            >
            <a class="dropdown-item" href="{{ site.baseurl }}/FAQ"
              >FAQs</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="{{ site.baseurl }}/#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            News
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/community-news"
              >Community News</a
            >
            <a class="dropdown-item" href="{{ site.baseurl }}/event"
              >Events</a
            >
            <a class="dropdown-item" href="{{ site.baseurl }}/press"
              >Press Release</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/#try">Try now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/develop"
            >Join development</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/volunteering"
            >Volunteer</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="{{ site.baseurl }}/#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Donate
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/donate"
              >Donate</a
            >
            <a class="dropdown-item" href="https://www.bonfire.com/store/sugar-labs-merch/"
              >Store</a
            >
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
