<!-- Header for screens with width > 1260px and width <= 767px -->
<script>
    if(window.innerWidth > 1260){
    var expanded = false;
    $(document).ready(function(){
        $("#SearchBar").focus(function(event){
            event.stopPropagation();
            expander();
        });
        $(document).click( function(){
            if(expanded){
                condenser();}
        });
        $("#searchForm").click( function(event){
            if(expanded){
            event.stopPropagation();}
        });
        var searchbar = $("#searchForm").offset();
        var menubar = $("#menuBar").offset();var distance1 = menubar.left -(searchbar.left + 200);
        if((searchbar.left +200)>menubar.left){
            var distance= distance1 + 13 + searchbar.left;
            $("#searchForm").css("left", distance.toString() + "px");
        }else if(distance1>39){
            var distance = searchbar.left + distance1 - 39;
            $("#searchForm").css("left", distance.toString() + "px");}
        $(window).resize(function(){
            var searchbar = $("#searchForm").offset();
            var menubar = $("#menuBar").offset();
            var distance1 = menubar.left -(searchbar.left + 200) ;
            if((searchbar.left +200)>menubar.left){
                var distance= distance1 + 13 + searchbar.left;
                $("#searchForm").css("left", distance.toString() + "px");
            }else if(distance1>39){
                var distance =searchbar.left +  distance1 - 39;
                $("#searchForm").css("left", distance.toString() + "px");}
            }
        );
    });
    }
	function searchLoad(){
		var re = document.getElementById("SearchBar").value;
		document.getElementById("searchLink").href = "{{ site.baseurl }}/search/?q=" + re;
	};
	document.addEventListener('keyup', function(ev) {
		if( ev.keyCode == 13 ) {
			var re = document.getElementById("SearchBar").value;
			document.getElementById("searchLink").href = "{{ site.baseurl }}/search/?q=" + re;
			document.getElementById("searchLink").click();}
	});
	function expander(){
        if(window.innerWidth > 767){
            document.getElementById("searchForm").style.width="53%";
            document.getElementById("SearchBar").style.width="90%";
            document.getElementById("menuBar").style.visibility="hidden";

        setTimeout(function(){
            document.getElementById("closebtn").style.visibility="visible";
            document.getElementById("closebutton").style.height="14px";
            document.getElementById("closebutton").style.width="14px";
            expanded = true;}, 400);
        }
	};
	function condenser(){
        if(window.innerWidth > 767){
            document.getElementById("menuBar").style.visibility="visible";
            document.getElementById("searchForm").style.width="200px";
            document.getElementById("SearchBar").style.width="75%";
            setTimeout(function(){
                document.getElementById("closebutton").style.height="0px";
                document.getElementById("closebutton").style.width="0px";
                document.getElementById("closebtn").style.visibility="hidden";
                expanded = false;}, 300);
        }

	};
 </script>
<header class="large" id="firstHeader" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div id="navh" class="logo1">
                                <a href="{{ site.baseurl }}/">{% include logo.svg %}</a>
                            </div>
                            <div id="navh2" >
                                <a class="navbar-brand" href="{{ site.baseurl }}/">
                                    <img src="{{ site.baseurl }}/assets/logoOpt.png" alt="Logo">
                                </a>
                            </div>
                        </div>

                        <div class="collapse navbar-collapse zeroMarPadBtm" id="bs-example-navbar-collapse-1" >
				<div id="searchForm">
                                        <input type="text" id="SearchBar" onchange="searchLoad()">
					<a onclick="condenser()" id="closebtn" style="visibility:hidden;height:0px;padding-right:5px;width:0px;position:relative;">
					<svg id="closebutton"height="0px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"/></svg>
					</a>
                                 	<a id="searchLink"><span class="ion-android-search customFontSize3" ></a>

				</div>
                            <ul class="nav navbar-nav navbar-right abc" id="menuBar">

                                <li><a href="{{ site.baseurl }}/about-us">About</a></li>
                                <li><a href="http://server.sugarizer.org">Try Now</a></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Sugar<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li ><a href="https://wiki.sugarlabs.org/go/Sugar_on_a_Stick/Installation">SOAS</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header"></li>
                                        <li ><a href="https://github.com/sugarlabs/sugar/blob/master/docs/fedora.md" >On Fedora</a></li>
                                        <li ><a href="https://github.com/sugarlabs/sugar/blob/master/docs/debian.md" >On Debian</a></li>
                                        <li ><a href="https://github.com/sugarlabs/sugar/blob/master/docs/ubuntu.md" >On Ubuntu</a></li>
                                        <li ><a href="https://wiki.sugarlabs.org/go/Downloads#Do_you_use_GNU.2FLinux.3F" >On Other Distros</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header"></li>
                                        <li><a href="http://server.sugarizer.org/" >Sugarizer Online</a></li>
                                        <li><a href="http://sugarizer.org/" >On App</a></li>
                                        <li><a href="https://github.com/llaske/sugarizer#server" >Set up server</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header"></li>
                                        <li><a href="http://wiki.laptop.org/go/Release_notes" >On XO</a></li>
                                        <li><a href="{{ site.baseurl }}/sugar-for-raspberry-pi" >On Raspberry Pi</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://github.com/sugarlabs/training-activity" >Activity - Learn Sugar</a></li>
                                        <li><a href="https://wiki.sugarlabs.org/go/Documentation_Team/User_Manual#The_Sugar_user_manual" >Sugar Handbook</a></li>
                                        <li><a href="http://activities.sugarlabs.org" >Activities Library</a></li>
                                    </ul>
                                </li>
                                <li><a href="https://help.sugarlabs.org/">Use</a></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Join Us<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://wiki.sugarlabs.org/go/Mailing_Lists" >Community Mailing Lists</a></li>
                                        <li><a href="https://github.com/sugarlabs/sugar-docs/blob/master/README.md/" >Developer's Guide</a></li>
                                        <li><a href="https://wiki.sugarlabs.org/go/Local_Labs" >Start a local lab</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header"></li>
                                        <li><a href="http://translate.sugarlabs.org" >Contribute to Translation</a></li>
                                        <li><a href="https://github.com/sugarlabs/sugar-docs/blob/master/README.md" >Contribute to Software</a></li>
                                        <li><a href="https://wiki.sugarlabs.org/go/Sugar_Labs/Getting_Involved" >Contribute to Central Organisation</a></li>
                                        <li><a href="https://wiki.sugarlabs.org/go/Category:Project" >Related Projects</a></li>
                                        <li><a href="{{ site.baseurl }}/profiles">Contributors</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="http://planet.sugarlabs.org" >Blog Archive</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- Header for screens with width >= 768px and width <= 1260px -->
<div class="container" id="secondHeader" >
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <nav id="sidebar">
                    <div id="dismiss">
                        <i class="ion-arrow-left-a"></i>
                    </div>
                    <div class="sidebar-header">
                        <h3>Sugar Labs</h3>
                    </div>
                 <div>
		   <div id="searchForm1" style="width:230px;" >
                        <input type="text" id="SearchBar1" onchange="searchLoad()" style="width:190px;color:#7C7A86;">
                        <a id="searchLink"><span class="ion-android-search customFontSize3" ></a></div></div>
                    <ul class="list-unstyled components">
                        <li><a href="{{ site.baseurl }}/about-us"><span>About</span></a></li>
                        <li><a href="http://server.sugarizer.org"><span>Try Now</span></a></li>
                        <li ><a href="#getSugarSubmenu" data-toggle="collapse" aria-expanded="false"><span>Get Sugar</span></a>
                            <ul class="collapse list-unstyled" id="getSugarSubmenu">
                                <li ><a href="https://wiki.sugarlabs.org/go/Sugar_on_a_Stick/Installation" class="hrefCustomColor">SOAS</a></li>
                                <li ><a href="https://github.com/sugarlabs/sugar/blob/master/docs/fedora.md" class="hrefCustomColor">On Fedora</a></li>
                                <li ><a href="https://github.com/sugarlabs/sugar/blob/master/docs/debian.md" class="hrefCustomColor">On Debian</a></li>
                                <li ><a href="https://github.com/sugarlabs/sugar/blob/master/docs/ubuntu.md" class="hrefCustomColor">On Ubuntu</a></li>
                                <li ><a href="https://wiki.sugarlabs.org/go/Downloads#Do_you_use_GNU.2FLinux.3F" class="hrefCustomColor">On Other Distros</a></li>
                                <li><a href="http://server.sugarizer.org/" class="hrefCustomColor">Sugarizer Online</a></li>
                                <li><a href="http://sugarizer.org/" class="hrefCustomColor">On App</a></li>
                                <li><a href="https://github.com/llaske/sugarizer#server" class="hrefCustomColor">Set up server</a></li>
                                <li><a href="http://wiki.laptop.org/go/Release_notes" class="hrefCustomColor">On XO</a></li>
                                <li><a href="#" class="hrefCustomColor">On Raspberry Pi</a></li>
                            </ul>
                        </li>
                        <li><a href="#downloadSubmenu" data-toggle="collapse" aria-expanded="false"><span>Download</span></a>
                            <ul class="collapse list-unstyled" id="downloadSubmenu">
                                <li><a href="https://github.com/sugarlabs/training-activity" class="hrefCustomColor">Activity - Learn Sugar</a></li>
                                <li><a href="https://wiki.sugarlabs.org/go/Documentation_Team/User_Manual#The_Sugar_user_manual" class="hrefCustomColor">Sugar Handbook</a></li>
                                <li><a href="http://activities.sugarlabs.org" class="hrefCustomColor">Activities Library</a></li>
                            </ul>
                        </li>
                        <li><a href="https://help.sugarlabs.org/"><span >Use</span></a></li>
                        <li ><a href="#joinUsSubmenu" data-toggle="collapse" aria-expanded="false"><span>Join Us</span></a>
                            <ul class="collapse list-unstyled" id="joinUsSubmenu">
                                <li><a href="https://wiki.sugarlabs.org/go/Mailing_Lists" class="hrefCustomColor">Community Mailing Lists</a></li>
                                <li><a href="https://github.com/sugarlabs/sugar-docs/blob/master/README.md/" class="hrefCustomColor">Developer's Guide</a></li>
                                <li><a href="https://wiki.sugarlabs.org/go/Local_Labs" class="hrefCustomColor">Start a local lab</a></li>
                                <li><a href="http://translate.sugarlabs.org" class="hrefCustomColor">Contribute to Translation</a></li>
                                <li><a href="https://github.com/sugarlabs/sugar-docs/blob/master/README.md" class="hrefCustomColor">Contribute to Software</a></li>
                                <li><a href="https://wiki.sugarlabs.org/go/Sugar_Labs/Getting_Involved" class="hrefCustomColor">Contribute to Central Organisation</a></li>
                                <li><a href="https://wiki.sugarlabs.org/go/Category:Project" class="hrefCustomColor">Related Projects</a></li>
                            </ul>
                        </li>
                        <li ><a href="#blogSubmenu" data-toggle="collapse" aria-expanded="false"><span>Blog</span></a>
                            <ul class="collapse list-unstyled" id="blogSubmenu">
                                <li><a href="http://planet.sugarlabs.org">Blog Archive</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div id="content">
                    <nav class="navbar navbar-default navbar-fixed-top customHeaderStyle2">
                        <div class="container-fluid" >
                            <div class="navbar-header customMarPadCombo5">
                                <div class="logo2" style="width:270px;height:30px;left:10px;">
                                    <span id="navh1" ><a href="{{ site.baseurl }}/">{% include logo.svg %}</a></span>
                                    <span id="navh3" ><a class="navbar-brand" href="{{ site.baseurl }}/">
                                    <img src="{{ site.baseurl }}/assets/logoOpt.png" alt="Logo" width="270px" height="65px">
                                    </a>
                                </div></span>
                                <span id="sidebarCollapse" class="customHeaderStyle3"><i class="ion-navicon-round"></i></span>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="overlay">
            </div>
        </div>
    </div>
</div>
