---
---
{% for post in site.posts %}
- ### [{{ post.title }}]({{ post.url }})
{{ post.date | date: "%d %B %Y" }}
{% endfor %}

---

If you have any questions, please contact:

Sean Daly<br/>
Marketing Coordinator<br/>
[pr@sugarlabs.org](mailto:pr@sugarlabs.org)<br/>
+1 (617) 500-9610

Sugar Labs<br/>
c/o Software Freedom Conservancy<br/>
137 Montague Street, Suite 380<br/>
Brooklyn, NY 11201-3548<br/>
USA

[logo materials](http://wiki.sugarlabs.org/go/Marketing_Team/Logo)<br/>
[high-res screenshots](http://wiki.sugarlabs.org/go/Marketing_Team/Screen_Shots)

---
