---
---
### Education team
The mission of the education team is to explain why Sugar is an ideal platform for learning, and to provide guidance and feedback to those who are working on how Sugar enhances learning. [Learn more](http://wiki.sugarlabs.org/go/EducationTeam)

### Deployment team
The mission of the deployment team is to voice the needs of Sugar deployments to the Sugar community, to find ways to support those needs, to organize forums for the exchange of experiences between Sugar users and Sugar developers, and to build local Sugar Labs organizations worldwide. [Learn more](http://wiki.sugarlabs.org/go/DeploymentTeam)

### Development team
The mission of the development team is to build and maintain the core Sugar environment. This includes specifying and implementing new features in conjunction with the Design team, fixing bugs as they are found by the Testing team and the Sugar community, and generally making Sugar awesome in all ways. [Learn more](http://wiki.sugarlabs.org/go/DevelopmentTeam)

### Design team
The mission of the design team is to make Sugar beautiful, elegant, and highly functional. [Learn more](http://wiki.sugarlabs.org/go/DesignTeam)

### BugSquad
The mission of the BugSquad is to be responsive to incoming bug reports. The Squad needs to triage the bugs and work towards a solution with the reporters and the developers until the issue is solved. Therefore it has an important role in making the end product better and can be seen as the liaison between testers/users and developers. [Learn more](http://wiki.sugarlabs.org/go/BugSquad)

### Documentation team
The mission of the documentation team is to provide the Sugar community with high quality documentation, including user manuals, programming references, and tutorials. [Learn more](http://wiki.sugarlabs.org/go/DocumentationTeam)

### Marketing team
The mission of the marketing team is to articulate the benefits of Sugar (simplify), to promote these benefits as widely as possible (amplify), and to recruit volunteers to improve the Sugar experience. [Learn more](http://wiki.sugarlabs.org/go/MarketingTeam)

### Oversight board
The mission of the oversight board is to ensure that the Sugar Labs community has clarity of purpose and the means to collaborate in achieving its goals. [Learn more](http://wiki.sugarlabs.org/go/Oversight_Board)

### Wiki team
The mission of the wiki team is to maintain the Sugar Labs wiki, and to help the Sugar Labs teams and the greater educational community to collaborate effectively. [Learn more](http://sugarlabs.org/go/WikiTeam)

### Infrastructure team
The mission of the infrastructure team is to keep the project humming along nicely, by maintaining and developing Sugar Labs’ collaboration and public-facing infrastructure. [Learn more](http://wiki.sugarlabs.org/go/InfrastructureTeam)
