<!DOCTYPE html>
<html>
  <head>
	   <meta charset="utf-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1">
	   <link rel="stylesheet" href="/css/jquery-ui.min.css">
	   <link rel="stylesheet" href="/css/main.css" />

	   <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
	   <script type="text/javascript" src="/js/jquery-ui.min.js"></script>

 		 <link id="defaultIcon" rel="shortcut icon" href="https://www.sugarlabs.org/assets/favicon_06.png" />
    <title>{{ page.title }}</title>

    <meta name="robots" content="index,follow,NOODP" />
    <meta name="description" Content="At Sugar Labs, we make a collection of tools that learners use to explore, discover, create, and reflect. We are non-profit and led by volunteers. We distribute these tools freely and encourage our users to appropriate them, taking ownership and responsibility for their learning." />
    <meta name="keywords" Content="Sugar Labs, Sugar, Sugarlabs, Education, Opensource, OpenSource, Sugar activities, activities, Sugar OS, Sugarizer, Sugar on Stick, SOAS" />

    <!-- Facebook card -->
    <meta property="fb:admins" content="552694361,100003527081308,100003017988002,100007693992282" />
    <meta property="fb:page_id" content="187845102582" />

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sugar_labs" />
    <meta name="twitter:creator" content="@sugar_labs" />
    <meta name="twitter:title" content="The Sugar Labs" /> 
    <meta name="twitter:description" content="Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities" />
    <meta name="twitter:image" content="https://sugarlabs.org/assets/home-screenshot.png" />  

    <!-- Open graph -->
    <meta property="og:site_name" content="Sugar Labs" />
    <meta property="og:type" content="Organization" />
    <meta property="og:title" content="Sugar Labs" />
    <meta property="og:url" content="https://www.sugarlabs.org" />
    <meta property="og:description" content="Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities." />
    <meta property="og:image" content="https://sugarlabs.org/assets/home-screenshot.png" />

    <!-- Google Knowledge Graph card -->
    <script type='application/ld+json'> 
        {
          "@context": "http://www.schema.org",
          "@type": "Organization",
          "name": "Sugar Labs",
          "url": "https://sugarlabs.org/",
          "logo": "https://sugarlabs.org/assets/logo.png",
          "description": "Sugar Labs is creator of the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities."
        }
    </script>

    <link rel="canonical" href="https://www.sugarlabs.org/" />
    <link rel="alternate" type="application/rss+xml" title="http://planet.sugarlabs.org/" />
  </head>
  <body {{ page.bodyExt }}>
    {{ content }}
    <script src="/js/main.js"></script>
  </body>
</html>
