<!DOCTYPE html>
<html class="no-js" lang="en">
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<link id="defaultIcon1" rel="shortcut icon" href="https://www.sugarlabs.org/assets/favicon_06.png" />
        <title>{{ page.title }}</title>
        <link href="{{ site.baseurl }}/css/googleFonts.css" rel="stylesheet" type="text/css" >
        <meta name="robots" content="index,follow,NOODP" />
        <meta name="description" Content="At Sugar Labs, we make FOSS tools that learners use to explore, discover, create, and reflect. We encourage our users to take responsibility for their learning." />
        <meta name="keywords" Content="Sugar Labs, Sugar, Sugarlabs, Education, Opensource, OpenSource, Sugar activities, activities, Sugar OS, Sugarizer, Sugar on Stick, SOAS, FOSS, Free software, software libre, Free/Libre Software, Constructionism, GSOC, GCI, Outreachy, Sugar Software, Learning" />
        <!-- Facebook card -->
        <meta property="fb:admins" content="552694361,100003527081308,100003017988002,100007693992282" />
        <meta property="fb:page_id" content="187845102582" />
        <!-- Twitter card -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@sugar_labs" />
        <meta name="twitter:creator" content="@sugar_labs" />
        <meta name="twitter:title" content="The Sugar Labs" /> 
        <meta name="twitter:description" content="Sugar Labs contributes to and helps maintain the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities" />
        <meta name="twitter:image" content="https://sugarlabs.org/assets/home-screenshot.png" />  
        <!-- Open graph -->
        <meta property="og:site_name" content="Sugar Labs" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Sugar Labs" />
        <meta property="og:url" content="https://sugarlabs.org/" />
        <meta property="og:description" content="Sugar Labs contributes to and helps maintain the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities." />
        <meta property="og:image" content="https://sugarlabs.org/assets/home-screenshot.png" />
        <!-- Google Knowledge Graph card -->
        <script type='application/ld+json'> 
            {
              "@context": "http://www.schema.org",
              "@type": "Organization",
              "name": "Sugar Labs",
              "url": "https://sugarlabs.org/",
              "logo": "https://sugarlabs.org/assets/logo.png",
              "description": "Sugar Labs contributes to and helps maintain the award-winning Sugar Learning Platform, which promotes collaborative learning through Sugar Activities."
            } 
        </script>
        <!-- CSS files-->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/airspace.css" />
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/ionicons.min.css" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="{{ site.baseurl }}/css/ionicons.min.css"></noscript>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/ion_icon_customization.css" />
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/owl.carousel.css" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css"></noscript>
        <!-- Javascript files-->
        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <![endif]-->
        <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
        <script type="text/javascript">
            if (typeof jQuery == 'undefined') {
                document.write(unescape("%3Cscript src='/js/jquery.js' type='text/javascript'%3E%3C/script%3E"));
            }
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            if(typeof($.fn.modal) === 'undefined') {document.write('<script src="{{ site.baseurl }}/js/bootstrap.js"><\/script>')}
        </script>
        <script  type="text/javascript" src="{{ site.baseurl }}/js/main.js" defer></script>
        <link rel="canonical" href="https://sugarlabs.org/" />
        <link rel="alternate" type="application/rss+xml" title="http://planet.sugarlabs.org/" />
        <script type="text/javascript" defer>
            $(window).load(function() {
                $(".loader").fadeOut("slow");
            })
        </script>
    </head>
    <body {{ page.bodyExt }}>

    {{ content }}

    </body>
</html>
