<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/main.css" />
		<link rel="shortcut icon" href="assets/favicon_06.png" />
		<title>{{ page.title }}</title>
		<style>
			.navbar-brand {
			padding: 0;
 			 }

			.navbar-brand img {
			margin-top: 5px;
			margin-left: 5px;
			max-height: 90%;
			 }
			 
			 .zdjecia img {
			max-width: 100%;
			height: auto;
			 }
			 
			.preload_bg{
				background:#fff;
				width:100%;
				height:100%;
				position:fixed;
				top:0;
				bottom:0;
			}
			.loading_ani{
				width:128px;
				height:15px;
				background:url(assets/ajax-loader.gif) no-repeat;
				position:fixed;
				margin-left:50%;
				margin-right:50%;
				left:-64px;
				margin-top:310px;
			}
			#loading_logo{
				background: url(assets/logo_black_06.png) no-repeat;
				width: 241px;
				height: 100px;
				display: inline-block;
				margin-top: 10px;
			}
		</style>
		<script>
			$(window).load(function(){
				$('.preload_bg').fadeOut();
				}
			)
		</script>
	</head>
	<body>
		<div class="preload_bg" style="z-index: 1000; width: 100%; height: 100%;"><div id="loading_logo" style="margin-left: 50%; margin-right: 50%; left: -118px; position: fixed; z-index: 1000; margin-top: 180px;"></div><div class="loading_ani"></div></div>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img src="assets/logo_black_06.png" alt="Sugar logo" /></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://wiki.sugarlabs.org/">Wiki</a></li>
						<li><a href="http://wiki.sugarlabs.org/go/Downloads">Download</a></li>
						<li><a href="http://activities.sugarlabs.org">Activites</a></li>
						<li><a href="http://wiki.sugarlabs.org/go/Sugar_Labs/Donate">Donate</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-sm-3 sidebar">
					<ul class="nav nav-sidebar">
						<li><a href="index.html">Home</a></li>
					</ul>
					<ul class="nav nav-sidebar">
						<li><a href="about.html">Overview</a></li>
						<li><a href="about_features.html">Features</a></li>
						<li><a href="education.html">Education</a></li>
						<li><a href="about_activites.html">Activites</a></li>
						<li><a href="">Gallery</a></li>
					</ul>
					<ul class="nav nav-sidebar">
						<li><a href="parents.html">Parents</a></li>
						<li><a href="learners.html">Learners</a></li>
						<li><a href="teachers.html">Teachers</a></li>
						<li><a href="">Press</a></li>
						<li><a href="contributors.html">Contributors</a></li>
					</ul>
				</div>
				<div class="col-md-10 col-sm-9 col-sm-offset-3 col-md-offset-2 main zdjecia">
					<h1 class="page-header">{{ page.title }}</h1>
					{{ content }}
					<p>See more for <a href="learners.html">learners</a> / <a href="parents.html">parents</a> / <a href="teachers.html">teachers</a> / <a href="contributors.html">contributors</a> / <a href="press.html">press</a></p>
					<div style="text-align: center; padding: 10px; margin: 0 auto;">
						{% if page.link1 %}<a href="{{ page.link1 }}"><img src="{{ page.thumb1 }}" alt="sugar thumb" /></a>{% endif %}{% if page.link2 %}<a href="{{ page.link2 }}"><img style="padding-left: 10px" src="{{ page.thumb2 }}" alt="sugar thumb" /></a>{% endif %}
					</div>
					
					<footer style="width: 100%; height: auto; left: 0; padding: 5px; font-size: small">
						<hr/>
						content is available under <a href="http://creativecommons.org/licenses/by/3.0/">creative commons attribution 3.0 unported</a> license
						<br/>
						Copyright © 2009 - 20{{ site.time | date: '%y' }} Software Freedom Conservancy—Sugar Labs®—learning software for children
					</footer>
				</div>
			</div>
		</div>
		
	</body>
</html>
	
