---
layout: default
---

<div class="bg-dark text-white py-4">
    <div class="container text-center">
      <h1 class="display-4 mb-0">{{ page.title }}</h1>
      <p class="lead">{{ page.date | date: "%b %-d %Y" }}</p> 
      <p class="lead">By {{ page.author | default: "Sugar Community Member" }}</p>        
    </div>
</div>

 <!-- Content Section -->
<div class="container my-5">
    <div class="bg-white p-4 rounded shadow-sm">
      {{ content }}
    </div>
</div>

<div class="bg-light py-4">
     <div class="container text-center">
        <p class="mb-2">
          <a href="/sugar-stories" class="btn btn-outline-secondary btn-sm text-decoration-none">Return to Sugar-Stories information</a>
        </p>
        <p>
          <a href="/" class="btn btn-outline-secondary btn-sm text-decoration-none">Return to main page</a>
        </p>
    </div>
</div>
  
